<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="course">
                <a class="course__sign next" href="#">
                    Все онлайн-занятия
                </a>
                <div class="course__body">
                    <div class="course__content">
                        <h1 class="course__heading title title--h5">
                            Базовый ЕГЭ по математике для учеников 10 и 11 классов
                        </h1>
                        <div class="course__nav accordion">
                            <a class="accordion__handler" href="#">Обзор курса</a>
                            <nav class="accordion__list">
                                <a class="accordion__link accordion__link--current" href="#">Обзор курса</a>
                                <a class="accordion__link" href="#">Расписание</a>
                                <a class="accordion__link" href="#">Материалы</a>
                                <a class="accordion__link" href="#">Прогресс</a>
                            </nav>
                        </div>
                        <div class="course__pages">
                            <!-- Внутренняя страница курса -->
                            <div class="course-overview">
                                <div class="course-overview__section mobile-collapse">
                                    <button class="mobile-collapse__handler" type="button">
                                        Описание курса
                                    </button>
                                    <div class="mobile-collapse__body">
                                        <div class="wysiwyg">
                                            <p>Добро пожаловать! Все задачи 1 части + 13, 15, 17 + знакомство с параметрами. Все, чтобы сдать на 80 баллов. Теория, практика, ДЗ, репетиционные ЕГЭ!</p>
                                            <div class="video video--16x9">
                                                <iframe class="video__widget" width="560" height="315" src="https://www.youtube.com/embed/EqLyNGrBUDs" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-overview__section mobile-collapse">
                                    <button class="mobile-collapse__handler" type="button">
                                        О процессе обучения
                                    </button>
                                    <div class="mobile-collapse__body">
                                        <div class="wysiwyg">
                                            <p>Все материалы и занятия проходят в нашей образовательной платформе. Посмотрите видео или зарегистрируйтесь, чтобы посмотреть, как устроена платформа.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-overview__section mobile-collapse">
                                    <button class="mobile-collapse__handler" type="button">
                                        Необходимые материалы
                                    </button>
                                    <div class="mobile-collapse__body">
                                        <div class="wysiwyg">
                                            <p>Покупка дополнительных материалов не предусмотрена</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Внутренняя страница курса -->
                        </div>
                    </div>
                    <div class="course__sidebar">
                        <div class="course__card course-card">
                            <div class="course-card__prefix caption">
                                Онлайн-занятие через 03:59
                            </div>
                            <div class="course-card__heading headline headline--2">
                                Планиметрия. Часть 1.
                            </div>
                            <a class="course-card__more button button--larger button--transparent" href="#">
                                Войти в класс
                            </a>
                        </div>
                        <div class="course__teacher instructor-card">
                            <a class="instructor-card__preview avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-f-48x48@2x.jpg 2x"
                                     src="../temp/person-f-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Tim Cook"
                                >
                            </a>
                            <div class="instructor-card__post">
                                Преподаватель
                            </div>
                            <div class="instructor-card__name headline headline--2">
                                Самойлова Марина Кирилловна
                            </div>
                        </div>
                        <div class="course__students room">
                            <button class="room__handler headline headline--2" type="button">
                                Ученики в классе
                            </button>
                            <div class="room__body">
                                <div class="room__scroll scrollbar scrollbar-macosx">
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="window mfp-hide" id="login">
            <div class="window__heading title">
                Magnific Popup!
            </div>
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="window__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor metus orci. Quisque non diam vitae eros gravida sodales. Nullam placerat ultrices facilisis. Donec tincidunt quis massa et ornare. In id ex ipsum. Suspendisse in ex sem.
            </div>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>

    </body>
</html>
