<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="course">
                <div class="course__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium exercitationem iusto libero vel veritatis. Consectetur eligendi fugiat fugit illum impedit, iure iusto libero minus nostrum obcaecati, quasi recusandae sit voluptatum!
                </div>
                <div class="course__sidebar">
                    <div class="course__card course-card">
                        <div class="course-card__prefix">
                            Онлайн-занятие через 03:59
                        </div>
                        <div class="course-card__heading title title--h2">
                            Планиметрия. Часть 1.
                        </div>
                        <a class="course-card__more button button--larger button--transparent" href="#">
                            Войти в класс
                        </a>
                    </div>
                    <div class="course__teacher instructor-card">
                        <a class="instructor-card__preview avatar avatar--alt-hover">
                            <img class="avatar__image"
                                 srcset="../temp/person-f-48x48@2x.jpg 2x"
                                 src="../temp/person-f-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Tim Cook"
                            >
                        </a>
                        <div class="instructor-card__post">
                            Преподаватель
                        </div>
                        <div class="instructor-card__name title title--h2">
                            Самойлова Марина Кирилловна
                        </div>
                    </div>
                    <div class="course__students room">
                        <button class="room__handler" type="button">
                            Ученики в классе
                        </button>
                        <div class="room__body">
                            <div class="room__item student">
                                <div class="student__preview">
                                    <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                        <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                    </svg>
                                    <a class="student__photo avatar avatar--alt-hover">
                                        <img class="avatar__image"
                                             srcset="../temp/person-f-48x48@2x.jpg 2x"
                                             src="../temp/person-f-48x48.jpg"
                                             width="38"
                                             height="38"
                                             alt="Tim Cook"
                                        >
                                    </a>
                                    <div class="student__counter">
                                        12
                                    </div>
                                </div>
                                <div class="student__heading">
                                    София Кузнецова
                                </div>
                                <div class="student__note">
                                    Москва
                                </div>
                            </div>
                        </div>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aperiam asperiores culpa deleniti dolores, esse, exercitationem id molestiae nisi numquam, perferendis quisquam quod rem rerum soluta sunt tempora. Aliquid.
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="window mfp-hide" id="login">
            <div class="window__heading title">
                Magnific Popup!
            </div>
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="window__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor metus orci. Quisque non diam vitae eros gravida sodales. Nullam placerat ultrices facilisis. Donec tincidunt quis massa et ornare. In id ex ipsum. Suspendisse in ex sem.
            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>

    </body>
</html>
