<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Домашнее задание</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="assignment">
            <div class="assignment__head">
                <div class="assignment__breadcrumbs breadcrumbs">
                    <div class="breadcrumbs__item">
                        <a class="next" href="#">Все онлайн-занятия</a>
                    </div>
                    <div class="breadcrumbs__item">
                        <a class="next" href="#">Базовый ЕГЭ по математике для учеников 10 и 11 классов</a>
                    </div>
                    <div class="breadcrumbs__item">
                        <a class="next" href="#">Планиметрия. Часть 1.</a>
                    </div>
                </div>
                <h1 class="assignment__heading title title--h6">
                    Домашнее задание
                </h1>
            </div>
            <div class="assignment__body">
                <div class="assignment__author">
                    <a class="assignment__avatar avatar avatar--clickable">
                        <img class="avatar__image"
                             srcset="../temp/person-f-48x48@2x.jpg 2x"
                             src="../temp/person-f-48x48.jpg"
                             width="48"
                             height="48"
                             alt="Tim Cook"
                        >
                    </a>
                    <div class="assignment__name">
                        <a class="link link--text-alike" href="#">Марина Кирилловна</a>
                    </div>
                </div>
                <div class="assignment__question task">
                    <div class="task__question">
                        <div class="task__problem">
                            Поезд отправился из Санкт-Петербурга в 23 часа 50 минут (время московское) и прибыл в Москву в 7 часов 50 минут следующих суток. Сколько часов поезд находился в пути?
                        </div>
                        <div class="task__answer">
                            <div class="task__sub-heading">
                                Ответ:
                            </div>
                            <div class="task__enter">
                                <div class="task__field input">
                                    <input class="input__widget" type="text">
                                </div>
                                <div class="task__validity correctly">
                                    <div class="correctly__label">Верно</div>
                                    <img class="correctly__icon" src="../symbols/check-circle-green.svg" width="24" height="24" alt="">
                                    <img class="correctly__icon" src="../symbols/check-circle-red.svg" width="24" height="24" alt="">
                                </div>
                            </div>
                            <button class="task__check button button--secondary" type="button">
                                Проверить ответ
                            </button>
                        </div>
                    </div>
                    <div class="task__solution">
                        <button class="task__show-solution" type="button">
                            Показать решение ↓
                        </button>
                        <div class="task__explanation wysiwyg">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque blanditiis deleniti dignissimos dolor dolore ducimus eius error esse id impedit incidunt ipsum itaque iusto magni maxime molestias odio odit officia qui quo saepe ullam, ut vel voluptate? At blanditiis, doloremque harum id incidunt, maxime nisi, ratione reprehenderit rerum sint tempore totam unde! Doloribus iusto minima sapiente voluptates? Accusamus culpa expedita facilis labore optio quaerat rerum sapiente tempora temporibus, veniam! Alias commodi, consectetur debitis dolorum eius ex facere fugit ipsum maiores molestias mollitia porro saepe. Dolor enim excepturi explicabo facere hic incidunt nihil, nobis nostrum numquam praesentium sed, tenetur totam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque blanditiis deleniti dignissimos dolor dolore ducimus eius error esse id impedit incidunt ipsum itaque iusto magni maxime molestias odio odit officia qui quo saepe ullam, ut vel voluptate? At blanditiis, doloremque harum id incidunt, maxime nisi, ratione reprehenderit rerum sint tempore totam unde! Doloribus iusto minima sapiente voluptates? Accusamus culpa expedita facilis labore optio quaerat rerum sapiente tempora temporibus, veniam! Alias commodi, consectetur debitis dolorum eius ex facere fugit ipsum maiores molestias mollitia porro saepe. Dolor enim excepturi explicabo facere hic incidunt nihil, nobis nostrum numquam praesentium sed, tenetur totam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque blanditiis deleniti dignissimos dolor dolore ducimus eius error esse id impedit incidunt ipsum itaque iusto magni maxime molestias odio odit officia qui quo saepe ullam, ut vel voluptate? At blanditiis, doloremque harum id incidunt, maxime nisi, ratione reprehenderit rerum sint tempore totam unde! Doloribus iusto minima sapiente voluptates? Accusamus culpa expedita facilis labore optio quaerat rerum sapiente tempora temporibus, veniam! Alias commodi, consectetur debitis dolorum eius ex facere fugit ipsum maiores molestias mollitia porro saepe. Dolor enim excepturi explicabo facere hic incidunt nihil, nobis nostrum numquam praesentium sed, tenetur totam.</p>
                        </div>
                    </div>
                    <div class="task__footer">
                        <a class="task__next button" href="#">
                            Следующая задача
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
