<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="course">
                <div class="course__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium exercitationem iusto libero vel veritatis. Consectetur eligendi fugiat fugit illum impedit, iure iusto libero minus nostrum obcaecati, quasi recusandae sit voluptatum!
                </div>
                <div class="course__sidebar">
                    <div class="course-card">
                        <div class="course-card__prefix">
                            Онлайн-занятие через 03:59
                        </div>
                        <div class="course-card__heading title title--h2">
                            Планиметрия. Часть 1.
                        </div>
                        <a class="course-card__more button button--larger button--transparent" href="#">
                            Войти в класс
                        </a>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aperiam asperiores culpa deleniti dolores, esse, exercitationem id molestiae nisi numquam, perferendis quisquam quod rem rerum soluta sunt tempora. Aliquid.
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="window mfp-hide" id="login">
            <div class="window__heading title">
                Magnific Popup!
            </div>
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="window__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor metus orci. Quisque non diam vitae eros gravida sodales. Nullam placerat ultrices facilisis. Donec tincidunt quis massa et ornare. In id ex ipsum. Suspendisse in ex sem.
            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_mfp.js"></script>

    </body>
</html>
