<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Дашборд</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header__panel">

        </header>

        <div class="page">
            <div class="assignment">
                <div class="assignment__head">
                    <div class="assignment__breadcrumbs breadcrumbs">
                        <div class="breadcrumbs__item">
                            <a class="next" href="#">Dashboard</a>
                        </div>
                        <div class="breadcrumbs__item">
                            <a class="next" href="#">Математика (профиль)</a>
                        </div>
                    </div>
                    <h1 class="assignment__heading title title--h6">
                        Теория вероятностей. Основные понятия.
                    </h1>
                </div>
                <div class="assignment__body">
                    <div class="assignment__author">
                        <a class="assignment__avatar avatar avatar--clickable">
                            <img class="avatar__image"
                                 srcset="../temp/person-f-48x48@2x.jpg 2x"
                                 src="../temp/person-f-48x48.jpg"
                                 width="48"
                                 height="48"
                                 alt="Tim Cook"
                            >
                        </a>
                        <div class="assignment__name">
                            <a class="link link--text-alike" href="#">Марина Кирилловна</a>
                        </div>
                    </div>
                    <div class="assignment__question task">
                        <div class="task__question">
                            <div class="task__problem wysiwyg wysiwyg--halfen">
                                <p>Привет. Сегодня я расскажу тебе про теорию вероятностей. Мы дадим математическое определение вероятности. Разберем основные понятия теории вероятностей и простые задачи.</p>
                                <p>Наша жизнь полна случайных событий. О каждом из них можно сказать, что оно произойдет с некоторой вероятностью. Скорее всего, ты интуитивно знаком с этими понятиями.</p>
                            </div>
                        </div>
                        <div class="task__footer">
                            <a class="task__next button" href="#">
                                Далее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
