<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Дашборд</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>

        <div class="page">
            <div class="container">
                <div class="textbook">
                    <div class="textbook__head">
                        <a class="textbook__breadcrumbs next" href="test-1-list.html">
                            Dashboard
                        </a>
                        <h1 class="textbook__heading title title--h5">
                            Математика (профиль)
                        </h1>
                    </div>
                    <div class="textbook__body">
                        <div class="textbook__content">
                            <div class="textbook__column">
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Как обучаться на платформе
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Вводное видео</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Стратегия обучения</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Как устроена платформа</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Советы по обучению</div>
                                            <div class="textbook__duration">08:10</div>
                                        </a>
                                    </div>
                                </section>
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Текстовые задачи
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Движение</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Работа</div>
                                            <div class="textbook__duration">7:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Секреты решения текстовых задач на движение и работу</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Проценты</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Сплавы, смеси, растворы</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Движение по окружности</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                    </div>
                                </section>
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Чтение графиков и диаграмм
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Как читать графики и диаграммы</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Примеры решения задач</div>
                                            <div class="textbook__duration">0/20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Проверочный тест</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                    </div>
                                </section>
                            </div>
                            <div class="textbook__column">
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Чтение графиков и диаграмм
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Как читать графики и диаграммы</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Примеры решения задач</div>
                                            <div class="textbook__duration">0/20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Проверочный тест</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                    </div>
                                </section>
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Теория вероятностей
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Как читать графики и диаграммы</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Примеры решения задач</div>
                                            <div class="textbook__duration">0/20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Проверочный тест</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                    </div>
                                </section>
                                <section class="textbook__section">
                                    <h2 class="textbook__sub-heading headline headline--2">
                                        Стереометрия
                                    </h2>
                                    <div class="textbook__list">
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/check.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Как читать графики и диаграммы</div>
                                            <div class="textbook__duration">12:10</div>
                                        </a>
                                        <a class="textbook__item" href="#">
                                            <img class="textbook__icon" src="../symbols/bullet-circle.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Примеры решения задач</div>
                                            <div class="textbook__duration">0/20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Тренажер задач</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                        <a class="textbook__item textbook__item--disabled">
                                            <img class="textbook__icon" src="../symbols/lock2.svg" width="16" height="16" alt="">
                                            <div class="textbook__label">Проверочный тест</div>
                                            <div class="textbook__duration">07:20</div>
                                        </a>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="textbook__sidebar">
                            <div class="textbook__card course-card">
                                <div class="course-card__prefix caption">
                                    Онлайн-занятие через 03:59
                                </div>
                                <div class="course-card__heading headline headline--2">
                                    Планиметрия. Часть 1.
                                </div>
                                <a class="course-card__more button button--larger button--transparent" href="#">
                                    Войти в класс
                                </a>
                            </div>
                            <div class="textbook__progress advancing math-border">
                                <h2 class="advancing__heading headline headline--2">
                                    Общий прогресс
                                </h2>
                                <div class="advancing__body">
                                    <div class="advancing__section">
                                        <div class="advancing__label">
                                            Решено задач
                                        </div>
                                        <div class="advancing__counter headline headline--2">
                                            158/945
                                        </div>
                                        <div class="advancing__visualisation bar">
                                            <div class="bar__progress math-background" style="width: 20%;"></div>
                                        </div>
                                    </div>
                                    <div class="advancing__section">
                                        <div class="advancing__label">
                                            Пройдено тем
                                        </div>
                                        <div class="advancing__counter headline headline--2">
                                            12/32
                                        </div>
                                        <div class="advancing__visualisation bar">
                                            <div class="bar__progress math-background" style="width: 20%;"></div>
                                        </div>
                                    </div>
                                    <div class="advancing__section">
                                        <div class="advancing__label">
                                            Пройдено тестов
                                        </div>
                                        <div class="advancing__counter headline headline--2">
                                            0/10
                                        </div>
                                        <div class="advancing__visualisation bar">
                                            <div class="bar__progress math-background" style="width: 20%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>

    </body>
</html>
