<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Дашборд</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="dashboard">
                <div class="dashboard__body">
                    <div class="dashboard__content">
                        <h1 class="dashboard__heading title title--h5">
                            Привет, София
                        </h1>
                        <div class="dashboard__list">
                            <a class="dashboard__item colorful-card colorful-card--math" href="#">
                                <h2 class="colorful-card__heading title title--h6">
                                    Математика (профиль)
                                </h2>
                                <div class="colorful-card__addition">
                                    <div class="colorful-card__tag">Учебник</div>
                                    <div class="colorful-card__tag">Тренажер задач</div>
                                </div>
                                <div class="colorful-card__button button button--secondary">
                                    Продолжить
                                </div>
                                <svg class="colorful-card__progress round-loading round-loading--animated" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle stroke="rgba(255, 255, 255, 0.4)" stroke-width="4" cx="23" cy="23" r="21"></circle>
                                    <circle id="random-offset" stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#F9F9F9" stroke-width="4" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                </svg>
                            </a>
                            <a class="dashboard__item colorful-card colorful-card--russian" href="#">
                                <h2 class="colorful-card__heading title title--h6">
                                    Русский язык
                                </h2>
                                <div class="colorful-card__addition">
                                    <div class="colorful-card__tag">Учебник</div>
                                </div>
                                <div class="colorful-card__button button button--secondary">
                                    Начать
                                </div>
                                <svg class="colorful-card__progress round-loading round-loading--animated" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle stroke="rgba(255, 255, 255, 0.4)" stroke-width="4" cx="23" cy="23" r="21"></circle>
                                    <circle id="random-offset" stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#F9F9F9" stroke-width="4" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                </svg>
                            </a>
                            <a class="dashboard__item colorful-card colorful-card--informatics" href="#">
                                <h2 class="colorful-card__heading title title--h6">
                                    Информатика
                                </h2>
                                <div class="colorful-card__addition">
                                    <div class="colorful-card__tag">Учебник</div>
                                </div>
                                <div class="colorful-card__button button button--secondary">
                                    Начать
                                </div>
                                <svg class="colorful-card__progress round-loading round-loading--animated" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle stroke="rgba(255, 255, 255, 0.4)" stroke-width="4" cx="23" cy="23" r="21"></circle>
                                    <circle id="random-offset" stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#F9F9F9" stroke-width="4" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="dashboard__sidebar">
                        <h2 class="dashboard__sub-heading title title--h5">
                            Задачи на&nbsp;сегодня
                        </h2>
                        <div class="dashboard__card course-card">
                            <div class="course-card__prefix caption">
                                Онлайн-занятие через 03:59
                            </div>
                            <div class="course-card__heading headline headline--2">
                                Планиметрия. Часть 1.
                            </div>
                            <a class="course-card__more button button--larger button--transparent" href="#">
                                Войти в класс
                            </a>
                        </div>
                        <div class="dashboard__calendar my-day">
                            <div class="my-day__heading title title--h6">
                                Вторник
                            </div>
                            <div class="my-day__note">
                                17 сентября
                            </div>
                            <div class="my-day__section">
                                <a class="my-day__item" href="#">
                                    <div class="my-day__border" style="background-color: var(--math);"></div>
                                    <div class="my-day__label">
                                        Посмотреть “Как обучаться на платформе”
                                    </div>
                                    <span class="my-day__time">
                                        12:10
                                    </span>
                                </a>
                                <a class="my-day__item" href="#">
                                    <div class="my-day__border" style="background-color: var(--math);"></div>
                                    <div class="my-day__label">
                                        Посмотреть “Стратегия обучения”
                                    </div>
                                    <span class="my-day__time">
                                        07:20
                                    </span>
                                </a>
                            </div>
                            <div class="my-day__section">
                                <a class="my-day__item" href="#">
                                    <div class="my-day__border" style="background-color: var(--russian);"></div>
                                    <div class="my-day__label">
                                        Пройти урок “Лексическое значение слова”
                                    </div>
                                    <span class="my-day__time">
                                        12:02
                                    </span>
                                </a>
                                <a class="my-day__item" href="#">
                                    <div class="my-day__border" style="background-color: var(--russian);"></div>
                                    <div class="my-day__label">
                                        Пройти урок “Синонимы”
                                    </div>
                                    <span class="my-day__time">
                                        07:20
                                    </span>
                                </a>
                                <a class="my-day__item" href="#">
                                    <div class="my-day__border" style="background-color: var(--russian);"></div>
                                    <div class="my-day__label">
                                        Решить 6 задач в тренажере задач по “Лексика и Фразеология”
                                    </div>
                                    <span class="my-day__time">
                                        1/6
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>

    </body>
</html>
