<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Платежная информация</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="profile">
            <div class="profile__head-wrap container container--full-width">
                <div class="profile__head">
                    <div class="profile__breadcrumbs breadcrumbs">
                        <div class="breadcrumbs__item">
                            <a class="next" href="#">Dashboard</a>
                        </div>
                    </div>
                    <h1 class="profile__heading title title--h5">
                        Платежная информация
                    </h1>
                </div>
            </div>
            <div class="profile__body-wrap container">
                <div class="profile__body">
                    <div class="profile__content">
                        <section class="profile__section">
                            <h2 class="profile__sub-heading title title--h6">
                                Активные подписки
                            </h2>
                            <div class="profile__subscriptions">
                                <article class="profile__paid-course card card--less-rounding math-border">
                                    <div class="card__heading headline headline--2">
                                        Тренажер задач по математике
                                    </div>
                                    <div class="card__footer">
                                        Доступ на 3 месяца - 4 500 руб.<br>
                                        Заканчивается через 27 дней
                                    </div>
                                </article>
                                <article class="profile__paid-course card card--less-rounding russian-border">
                                    <div class="card__heading headline headline--2">
                                        Тренажер задач по русскому языку
                                    </div>
                                    <div class="card__footer">
                                        Доступ на 1 месяц - 1 500 руб.<br>
                                        Заканчивается через 15 дней
                                    </div>
                                </article>
                            </div>
                        </section>
                        <section class="profile__section">
                            <h2 class="profile__sub-heading title title--h6">
                                История платежей
                            </h2>
                            <div class="profile__payments">
                                <div class="table table--scrollable">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Дата платежа</th>
                                                <th>Предмет</th>
                                                <th>Описание</th>
                                                <th>Код транзакции</th>
                                                <th>Доступ до</th>
                                                <th>Стоимость</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>13 сент 2021</td>
                                                <td>Математика</td>
                                                <td>Доступ на 3 месяца</td>
                                                <td>jdshju76J37QCBWU</td>
                                                <td>29 дек 2021</td>
                                                <td>4 500 руб.</td>
                                            </tr>
                                            <tr>
                                                <td>17 сент 2021</td>
                                                <td>Русский язык</td>
                                                <td>Недостаточно средств для оплаты</td>
                                                <td>2886374632sj3333</td>
                                                <td>29 дек 2021</td>
                                                <td>4 500 руб.</td>
                                            </tr>
                                            <tr>
                                                <td>18 дек 2021</td>
                                                <td>Математика</td>
                                                <td>Доступ на 1 месяц</td>
                                                <td>jdshju76J37QCBWU</td>
                                                <td>29 дек 2021</td>
                                                <td>4 500 руб.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="profile__sidebar">
                        <div class="profile__side-section card">
                            <div class="card__heading headline headline--2">
                                Способ оплаты
                                <br>Visa карта *7632
                            </div>
                            <div class="card__footer card__footer--larger">
                                <a class="link link--text-alike link--classic" href="#">Сменить карту</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
