<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Уведомления</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header__panel">

        </header>

        <div class="page">
            <div class="settings">
                <div class="settings__head-wrap container container--full-width">
                    <div class="settings__head">
                        <div class="settings__breadcrumbs breadcrumbs">
                            <div class="breadcrumbs__item">
                                <a class="next" href="#">Dashboard</a>
                            </div>
                        </div>
                        <h1 class="settings__heading title title--h5">
                            Настройки
                        </h1>
                    </div>
                </div>
                <div class="settings__body-wrap container">
                    <div class="settings__body">
                        <div class="settings__content">

                            <div class="goals-list">
                                <h1 class="goals-list__heading title title--h6">
                                    Мои цели
                                </h1>
                                <div class="goals-list__listing">
                                    <div class="goals-list__item goal">
                                        <h2 class="goal__heading title title--h6">
                                            Математика
                                        </h2>
                                        <div class="goal__options dropdown">
                                            <button class="dropdown__handler" type="button">
                                                2-3 часа в неделю
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="goal__progress loading">
                                            <div class="loading__progress" style="width: 50%;">
                                                <div class="loading__bar math-background">
                                                    <div class="loading__peak math-background">
                                                        <div class="loading__bubble title title--h6">73</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="loading__beginning caption">Баллы</div>
                                            <div class="loading__end caption">100</div>
                                        </div>
                                        <div class="goal__operations dropdown dropdown--dots">
                                            <button class="dropdown__handler" type="button">
                                                Действия
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">Удалить предмет из изучаемых</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goals-list__item goal">
                                        <h2 class="goal__heading title title--h6">
                                            Русский язык
                                        </h2>
                                        <div class="goal__options dropdown">
                                            <button class="dropdown__handler" type="button">
                                                2-3 часа в неделю
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="goal__progress loading">
                                            <div class="loading__progress" style="width: 50%;">
                                                <div class="loading__bar russian-background">
                                                    <div class="loading__peak russian-background">
                                                        <div class="loading__bubble title title--h6">73</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="loading__beginning caption">Баллы</div>
                                            <div class="loading__end caption">100</div>
                                        </div>
                                        <div class="goal__operations dropdown dropdown--dots">
                                            <button class="dropdown__handler" type="button">
                                                Действия
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">Удалить предмет из изучаемых</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goals-list__item goal">
                                        <h2 class="goal__heading title title--h6">
                                            Информатика
                                        </h2>
                                        <div class="goal__options dropdown">
                                            <button class="dropdown__handler" type="button">
                                                2-3 часа в неделю
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                    <a class="menu__link" href="#">2-3 часа в неделю</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="goal__progress loading">
                                            <div class="loading__progress" style="width: 50%;">
                                                <div class="loading__bar informatics-background">
                                                    <div class="loading__peak informatics-background">
                                                        <div class="loading__bubble title title--h6">73</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="loading__beginning caption">Баллы</div>
                                            <div class="loading__end caption">100</div>
                                        </div>
                                        <div class="goal__operations dropdown dropdown--dots">
                                            <button class="dropdown__handler" type="button">
                                                Действия
                                            </button>
                                            <div class="dropdown__body">
                                                <div class="menu">
                                                    <a class="menu__link" href="#">Удалить предмет из изучаемых</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="goals-list__submit button button--secondary button--larger">
                                    Добавить предмет
                                </button>
                            </div>
                        </div>
                        <div class="settings__sidebar">
                            <div class="settings__nav accordion accordion--vertical">
                                <button class="accordion__handler" type="button">
                                    Мои цели
                                </button>
                                <nav class="accordion__list">
                                    <a class="accordion__link" href="settings-1-data.html">Персональные данные</a>
                                    <a class="accordion__link accordion__link--current" href="settings-2-goals.html">Мои цели</a>
                                    <a class="accordion__link" href="settings-3-reports.html">Отчеты</a>
                                    <a class="accordion__link" href="settings-4-notifications.html">Уведомления</a>
                                    <a class="accordion__link" href="settings-5-password.html">Пароль</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
