<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Сменить пароль</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="settings">
            <div class="settings__head-wrap container container--full-width">
                <div class="settings__head">
                    <div class="settings__breadcrumbs breadcrumbs">
                        <div class="breadcrumbs__item">
                            <a class="next" href="#">Dashboard</a>
                        </div>
                    </div>
                    <h1 class="settings__heading title title--h5">
                        Настройки
                    </h1>
                </div>
            </div>
            <div class="settings__body-wrap container">
                <div class="settings__body">
                    <div class="settings__content">
                        <form class="form">
                            <h1 class="form__heading title title--h6">
                                Сменить пароль
                            </h1>
                            <div class="form__fieldset">
                                <div class="form__row">
                                    <div class="labeled">
                                        <div class="labeled__heading">
                                            <label class="labeled__label" for="current-password">Текущий пароль</label>
                                        </div>
                                        <div class="labeled__field">
                                            <div class="input input--larger input--has-eye">
                                                <input class="input__widget" type="password" id="current-password">
                                                <button class="input__toggle-password" type="button">
                                                    <img class="input__eye" src="../symbols/eye.svg" width="24" height="24" alt="">
                                                </button>
                                            </div>
                                            <div class="hint">
                                                <a class="link link--classic link--black" href="#">Не помню пароль</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="labeled">
                                        <div class="labeled__heading">
                                            <label class="labeled__label" for="new-password">Новый пароль</label>
                                        </div>
                                        <div class="labeled__field">
                                            <div class="input input--larger input--has-eye">
                                                <input class="input__widget" type="password" id="new-password">
                                                <button class="input__toggle-password" type="button">
                                                    <img class="input__eye" src="../symbols/eye.svg" width="24" height="24" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="form__submit button button--larger" type="button">
                                Сменить пароль
                            </button>
                        </form>
                    </div>
                    <div class="settings__sidebar">
                        <div class="settings__nav accordion accordion--vertical">
                            <button class="accordion__handler" type="button">
                                Пароль
                            </button>
                            <nav class="accordion__list">
                                <a class="accordion__link" href="settings-1-data.html">Персональные данные</a>
                                <a class="accordion__link" href="settings-2-goals.html">Мои цели</a>
                                <a class="accordion__link" href="settings-3-reports.html">Отчеты</a>
                                <a class="accordion__link" href="settings-4-notifications.html">Уведомления</a>
                                <a class="accordion__link accordion__link--current" href="settings-5-password.html">Пароль</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
