<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Тест</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <div class="test">
            <div class="test__head">
                <button class="test__toggle-pause button button--secondary" type="button">
                    <img class="button__icon test__pause-icon" src="../symbols/pause.svg" width="16" height="16" alt="">
                    <img class="button__icon test__play-icon" src="../symbols/play.svg" width="16" height="16" alt="">
                    <span class="test__pause-label">Пауза</span>
                    <span class="test__play-label">Продолжить</span>
                </button>
                <div class="test__alt-heading">
                    3 : 54 : 59
                </div>
                <h1 class="test__sub-heading">
                    Задание №17
                </h1>
            </div>
            <div class="test__body">
                <div class="test__content">
                    <div class="task task--no-solution">
                        <div class="task__question">
                            <div class="task__problem">
                                <div class="wysiwyg">
                                    В правильной четырёхугольной пирамиде SABCD сторона АВ основания равна 16, а высота пирамиды равна 4. На рёбрах АВ, CD и AS точки M , N и K соответственно, причём AM=DN=4 и AK=3.
                                    <br>а) Докажите, что плоскости MNK и SBC параллельны.
                                    <br>б) Найдите расстояние от точки M до плоскости SBC .
                                </div>
                            </div>
                            <div class="task__answer">
                                <div class="task__sub-heading">
                                    Ответ:
                                </div>
                                <div class="task__enter">
                                    <div class="task__field input">
                                        <input class="input__widget" type="text">
                                    </div>
                                </div>
                            </div>

                            <!-- temp -->
                            <p><br><br>или:<br><br></p>
                            <!-- temp -->

                            <div class="task__answer">
                                <div class="task__sub-heading">
                                    Ответ:
                                </div>
                                <div class="task__enter">
                                    <div class="task__field attach">
                                        <button class="attach__handler button button--secondary" type="button">
                                            Прикрепить файлы
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- temp -->
                            <p>когда загрузили:</p>
                            <!-- temp -->

                            <div class="task__answer">
                                <div class="task__sub-heading">
                                    Ответ:
                                </div>
                                <div class="task__enter">
                                    <div class="task__field attach">
                                        <div class="attach__gallery">
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                            <div class="attach__item">
                                                <a class="attach__link" href="#">
                                                    <img class="attach__image"
                                                         srcset="../temp/attach@2x.jpg 2x"
                                                         src="../temp/attach.jpg"
                                                         width="100"
                                                         height="100"
                                                         alt=""
                                                    >
                                                </a>
                                                <button class="attach__delete" type="button">
                                                    <img class="attach__bin" src="../symbols/bin.svg" width="16" height="16" alt="">
                                                </button>
                                            </div>
                                        </div>
                                        <button class="attach__handler button button--secondary" type="button">
                                            Прикрепить файлы
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test__footer">
                    <div class="test__report">
                        <a class="link link--classic link--inherit" href="#">
                            Сообщить об ошибке
                        </a>
                    </div>
                    <div class="test__navigation">
                        <a class="test__prev button button--larger button--secondary" href="#">
                            <img class="button__icon" src="../symbols/prev.svg" width="24" height="24" alt="">
                            Предыдущее задание
                        </a>
                        <a class="test__next button button--larger" href="#">
                            Следующая задача
                        </a>
                    </div>
                </div>
                <div class="test__pause">
                    <div class="pause">
                        <div class="pause__inner">
                            <div class="pause__heading title title--h5">
                                Тест на паузе
                            </div>
                            <div class="pause__note">
                                Весь прогресс сохранен
                            </div>
                            <div class="pause__operations">
                                <button class="pause__action test__resume button button--larger" type="button">Продолжить тест</button>
                                <a class="pause__action button button--larger button--secondary" href="#">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>
        <script src="../scripts/_dropdown.js"></script>
        <script src="../scripts/_progress.js"></script>
        <script src="../scripts/_task.js"></script>
        <script src="../scripts/_test.js"></script>
        <script src="../scripts/_recommendations.js"></script>

    </body>
</html>
