<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Тесты</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="tests-list">
                <div class="tests-list__head">
                    <h2 class="tests-list__heading title title--h5">
                        Мои онлайн-классы
                    </h2>
                </div>
                <div class="tests-list__body">
                    <div class="tests-list__listing">
                        <div class="test-preview test-preview--complete">
                            <a class="test-preview__link" href="test-2-intro.html">
                                <div class="test-preview__type">
                                    Пробный ЕГЭ
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Базовый ЕГЭ по математике для учеников 10 и 11 классов
                                </h3>
                                <div class="test-preview__footer">
                                    <div class="test-preview__note headline headline--1">
                                        52-62 балла
                                    </div>
                                    <div class="test-preview__summary caption">
                                        Верно 10 из 20 (50%)
                                    </div>
                                </div>
                                <img class="test-preview__status"
                                     src="../symbols/check-circle-green.svg"
                                     width="24"
                                     height="24"
                                     alt=""
                                >
                            </a>
                        </div>
                        <div class="test-preview">
                            <a class="test-preview__link" href="test-2-intro.html">
                                <div class="test-preview__type">
                                    Промежуточный тест
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Проверочный тест по текстовым задачам
                                </h3>
                                <div class="test-preview__handler button button--secondary">
                                    Начать
                                </div>
                                <div class="test-preview__footer">
                                    <div class="test-preview__summary caption">
                                        ~3ч 30мин
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="test-preview">
                            <a class="test-preview__link" href="test-2-intro.html">
                                <div class="test-preview__type">
                                    Полный ЕГЭ
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Проверочный тест по графикам
                                </h3>
                                <div class="test-preview__handler button button--secondary">
                                    Продолжить
                                </div>
                                <div class="test-preview__footer">
                                    <div class="test-preview__summary caption">
                                        ~20 мин
                                    </div>
                                </div>
                                <svg class="test-preview__progress round-loading round-loading--animated" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle stroke="#F5F3EE" stroke-width="4" cx="23" cy="23" r="21"></circle>
                                    <circle id="random-offset" stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#D6D2C8" stroke-width="4" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                </svg>
                            </a>
                        </div>
                        <div class="test-preview">
                            <a class="test-preview__link" href="test-2-intro.html">
                                <div class="test-preview__type">
                                    Полный ЕГЭ
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Полный ЕГЭ №2 с проверкой
                                </h3>
                                <div class="test-preview__handler button button--secondary">
                                    Продолжить
                                </div>
                                <div class="test-preview__footer">
                                    <div class="test-preview__summary caption">
                                        ~20 мин
                                    </div>
                                </div>
                                <svg class="test-preview__progress round-loading round-loading--animated" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle stroke="#F5F3EE" stroke-width="4" cx="23" cy="23" r="21"></circle>
                                    <circle id="random-offset" stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#D6D2C8" stroke-width="4" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                </svg>
                            </a>
                        </div>
                        <div class="test-preview test-preview--disabled">
                            <div class="test-preview__link">
                                <div class="test-preview__type">
                                    Промежуточный тест
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Проверочный тест по планиметрии
                                </h3>
                                <div class="test-preview__footer">
                                    <div class="test-preview__summary caption">
                                        Будет доступен после прохождения темы «Планиметрия»
                                    </div>
                                </div>
                            </div>
                            <img class="test-preview__status" src="../symbols/lock-grey.svg" width="24" height="24" alt="">
                        </div>
                        <div class="test-preview test-preview--not-purchased">
                            <a class="test-preview__link" href="test-2-intro.html">
                                <div class="test-preview__type">
                                    Промежуточный тест
                                </div>
                                <h3 class="test-preview__heading headline headline--1">
                                    Полный ЕГЭ №2 с проверкой
                                </h3>
                                <div class="test-preview__handler button button--secondary">
                                    Купить
                                </div>
                                <div class="test-preview__footer">
                                    <div class="test-preview__summary caption">
                                        Станет доступен сразу после оплаты
                                    </div>
                                </div>
                                <img class="test-preview__status" src="../symbols/lock-grey.svg" width="24" height="24" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="tests-list__sidebar">
                        <div class="tests-list__nav accordion accordion--vertical">
                            <button class="accordion__handler" type="button">
                                Математика
                            </button>
                            <nav class="accordion__list">
                                <a class="accordion__link accordion__link--current" href="#">Математика</a>
                                <a class="accordion__link" href="#">Русский язык</a>
                                <a class="accordion__link" href="#">Информатика</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="window mfp-hide" id="login">
            <div class="window__heading title">
                Magnific Popup!
            </div>
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="window__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor metus orci. Quisque non diam vitae eros gravida sodales. Nullam placerat ultrices facilisis. Donec tincidunt quis massa et ornare. In id ex ipsum. Suspendisse in ex sem.
            </div>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_scrollbar.js"></script>
        <script src="../scripts/_room.js"></script>
        <script src="../scripts/_mobile-collapse.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_schedule.js"></script>

    </body>
</html>
