.accordion {

}
    .accordion__handler {

    }

    .accordion__list {

    }
        .accordion__link {

        }


@media (min-width: 640px) {

    .accordion {

    }
        .accordion__handler {
            display: none;
        }

        .accordion__list {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: minmax(0, 1fr);
        }
            .accordion__link {
                position: relative;
                padding: 16px;
                font-size: var(--body2-font);
                line-height: var(--body2-line);
                color: var(--black);
                text-align: center;
                text-decoration: none;
            }
                .accordion__link::after {
                    content: "";
                    position: absolute;
                    left: 2px;
                    bottom: 0;
                    right: 2px;
                    height: 4px;
                    background-color: var(--black-8pct);
                    border-radius: 2px;
                }

            .accordion__link:hover {
                color: var(--light-green);
            }
                .accordion__link:hover::after {
                    background-color: var(--light-green-40pct);
                }

            .accordion__link--current,
            .accordion__link--current:hover {
                color: var(--black);
            }
                .accordion__link--current::after,
                .accordion__link--current:hover::after {
                    background-color: var(--black);
                }
}


@media (max-width: 639px) {

    .accordion {
        border: 1px solid var(--black);
        border-radius: 8px;
    }
        .accordion__handler {
            position: relative;
            display: block;
            width: 100%;
            background-color: transparent;
            padding: 14px 56px 16px 24px;
            border: none;
            font-family: var(--font-heading);
            font-weight: var(--ultrabold);
            font-size: var(--buttons-default-font);
            line-height: var(--buttons-default-line);
            color: inherit;
            text-decoration: none;
            text-align: left;
            cursor: pointer;
        }
            .accordion__handler::after {
                content: "";
                position: absolute;
                right: 16px;
                top: 50%;
                margin-top: -10px;
                display: block;
                width: 24px;
                height: 24px;
                background-image: url("../vectors/dropdown.svg");
                background-size: 24px 24px;
                background-repeat: no-repeat;
                background-position: center center;
            }

        .accordion__list {
            position: relative;
            padding-top: 14px;
            padding-bottom: 20px;
            display: none;
        }
            .accordion__list::before {
                content: "";
                display: block;
                position: absolute;
                left: 24px;
                right: 24px;
                top: 0;
                height: 1px;
                background-color: var(--beige-4-active);
            }

            .accordion__link {
                display: block;
                width: 100%;
                background-color: transparent;
                padding: 10px 24px;
                border: none;
                font-family: var(--font-heading);
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: inherit;
                text-decoration: none;
                cursor: pointer;
            }

                .accordion__link::after {

                }

            .accordion__link:hover {

            }
                .accordion__link:hover::after {

                }

            .accordion__link--current,
            .accordion__link--current:hover {
                font-weight: var(--ultrabold);
            }
                .accordion__link--current::after,
                .accordion__link--current:hover::after {

                }

    .accordion--expanded {

    }
        .accordion--expanded .accordion__handler::after {
            transform: scaleY(-1);
        }

    .accordion--expanded .accordion__list {
        display: block;
    }
}





.accordion--vertical {

}

@media (min-width: 640px) {

    .accordion--vertical {

    }
        .accordion--vertical .accordion__handler {

        }

        .accordion--vertical .accordion__list {
            display: block;
        }
            .accordion--vertical .accordion__link {
                display: block;
                border-bottom: 1px solid var(--black-8pct);
                text-align: left;
                font-family: var(--font-heading);
                font-size: 20px;
                line-height: 28px;
            }

            .accordion--vertical .accordion__link:last-child {

            }
                .accordion--vertical .accordion__link::after {
                    display: none;
                }

            .accordion--vertical .accordion__link--current {
                border-bottom-color: var(--black);
            }
}
