.achievements {

}
    .achievements__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .achievements__data {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(3, 86px);
        gap: 34px;
        justify-content: center;
    }
        .achievements__column {

        }
            .achievements__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
            }

            .achievements__list {
                margin-top: 18px;
            }
                .achievements__item {
                    margin-top: 12px;
                }

                .achievements__item:first-child {
                    margin-top: 0;
                }


@media (max-width: 374px) {

    .achievements__data {
        margin-top: 24px;
        gap: 22px;
    }
}

@media (max-width: 359px) {

    .achievements__data {
        gap: 16px;
    }
}