.assignment {
    padding-top: 32px;
    padding-bottom: 64px;
    margin-left: var(--container-padding-desktop);
    margin-right: var(--container-padding-desktop);
}
    .assignment__head {
        padding-bottom: 27px;
        border-bottom: 1px solid var(--black);
    }
        .assignment__breadcrumbs {
            margin-bottom: 2px;
        }

        .assignment__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

    .assignment__body {
        position: relative;
        width: 860px;
        padding-top: 31px;
        margin-left: auto;
        margin-right: auto;
    }
        .assignment__author {

        }
            .assignment__avatar {
                position: absolute;
                left: -72px;
                top: 42px;
            }

            .assignment__name {
                font-size: var(--caption-font);
                line-height: var(--caption-line);
            }

        .assignment__question {
            margin-top: 13px;
        }



@media (max-width: 639px) {

    .assignment {
        margin-left: var(--container-padding-mobile);
        margin-right: var(--container-padding-mobile);
    }
        .assignment__head {
            /*padding-bottom: 27px;*/
            /*border-bottom: 1px solid var(--black);*/
        }
            .assignment__breadcrumbs {
                /*margin-bottom: 2px;*/
            }

            .assignment__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }

        .assignment__body {
            /*position: relative;*/
            width: auto;
            /*padding-top: 31px;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
            .assignment__author {
                position: static;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: auto 1fr;
                align-items: center;
                grid-gap: 16px;
            }
                .assignment__avatar {
                    position: static;
                    /*left: -68px;*/
                    /*top: 42px;*/
                }

                .assignment__name {
                    /*font-size: var(--caption-font);*/
                    /*line-height: var(--caption-line);*/
                }

            .assignment__question {

            }
}


