body {
    min-width: 1000px;
    margin: 0;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-default);
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}


@media (max-width: 639px) {
    body {
        min-width: 0;
    }
}
