.checklist {

}
    .checklist__section {
        margin-top: 32px;
    }

    .checklist__section:first-child {
        margin-top: 0;
    }
        .checklist__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .checklist__list {
            margin-top: 20px;
        }
            .checklist__item {

            }

    .checklist__submit {
        margin-top: 36px;
    }