.course-card {
    padding: 24px;
    background-color: #A8D741;
    border-radius: 16px;
}
    .course-card__prefix {

    }

    .course-card__heading {
        margin-top: 2px;
    }

    .course-card__more {
        margin-top: 21px;
    }
