.course {
    display: grid;
    grid-template-columns: 500px 307px;
}
    .course__content {

    }

    .course__sidebar {

    }
        .course__card {

        }

        .course__teacher {
            margin-top: 16px;
        }

        .course__students {
            margin-top: 16px;
        }
