.dashboard {
    padding-top: 32px;
    padding-bottom: 64px;
}
    .dashboard__body {
        display: grid;
        grid-template-columns: 860fr 307fr;
        grid-gap: 32px;
    }

    @media (min-width: 1240px) {
        .dashboard__body {
            grid-template-columns: 860px 307px;
            justify-content: space-between;
        }
    }
        .dashboard__content {

        }
            .dashboard__heading {
                margin-top: 0;
                margin-bottom: 0;
                height: 68px;
                display: flex;
                align-items: center;
            }

            .dashboard__list {
                margin-top: 32px;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 24px;
            }
                .dashboard__item {

                }


        .dashboard__sidebar {

        }
            .dashboard__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                height: 68px;
                display: flex;
                align-items: center;
            }

            .dashboard__card {
                margin-top: 32px;
            }

            .dashboard__calendar {
                margin-top: 16px;
            }


@media (max-width: 639px) {

    .dashboard {
        /*padding-top: 32px;*/
        /*padding-bottom: 64px;*/
    }
        .dashboard__body {
            display: block;
            /*grid-template-columns: 860fr 307fr;*/
            /*grid-gap: 32px;*/
        }
            .dashboard__content {

            }
                .dashboard__heading {
                    /*margin-top: -2px;*/
                    /*margin-bottom: 0;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: var(--ultrabold);*/
                    /*font-size: 30px;*/
                    /*line-height: 34px;*/
                }

                .dashboard__list {

                }

            .dashboard__sidebar {
                margin-top: 48px;
            }
                .dashboard__sub-heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                }

                .dashboard__card {

                }

                .dashboard__calendar {

                }
}
