.homework {
    padding-top: 32px;
    padding-bottom: 64px;
}
    .homework__head {
        padding-bottom: 27px;
        border-bottom: 1px solid var(--black);
    }
        .homework__breadcrumbs {
            margin-bottom: 2px;
        }

        .homework__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

    .homework__body {
        position: relative;
        width: 860px;
        padding-top: 31px;
        margin-left: auto;
        margin-right: auto;
    }
        .homework__author {
            position: absolute;
            left: -68px;
            top: 42px;
        }

        .homework__name {
            font-size: var(--caption-font);
            line-height: var(--caption-line);
        }

        .homework__question {

        }




@media (max-width: 639px) {

    .homework {
        /*padding-top: 32px;*/
        /*padding-bottom: 64px;*/
    }

}
