.link,
.wysiwyg a {
    display: inline;
    vertical-align: baseline;
    padding: 4px 0 0; /* 4px solves two problems:
                         a) expands clickable area
                         b) solves multi-link case problem when hovering between lines changes from pointer to arrow */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.link:hover,
.wysiwyg a:hover {
    border-bottom-color: currentColor;
}

.link:active,
.wysiwyg a:active {

}



.link--text-alike {
    border-bottom-color: transparent;
    color: inherit;
}

.link--text-alike:hover {
    border-bottom-color: currentColor;
}


.link--inherit {
    color: inherit;
}


.link--classic {
    border-bottom-color: currentColor;
}

.link--classic:hover {
    border-bottom-color: transparent;
}


.link--black {
    color: var(--black);
}


.link--fake,
.link--fake:hover,
.link--fake:active {
    border-bottom-color: transparent;
    color: inherit;
    cursor: inherit;
}


