.loading {
    position: relative;
    height: 6px;
    background-color: var(--black-8pct);
    border-radius: 3px;
}
    .loading__point {
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        border-radius: 1px;
        background-color: var(--black);
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .loading__progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 3px;
        background-color: #FFFFFF;
    }
        .loading__bar {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }

        .loading__progress--backward .loading__bar {
            opacity: 0.53;
        }
            .loading__peak {
                position: absolute;
                right: 3px;
                top: 50%;
                width: 16px;
                height: 16px;
                margin-top: -8px;
                margin-right: -8px;
                border-radius: 50%;
            }
                .loading__bubble {
                    position: absolute;
                    left: 50%;
                    bottom: 23px;
                    transform: translateX(-50%);
                }

    .loading__beginning {
        position: absolute;
        left: 1px;
        top: 100%;
        margin-top: 7px;
        color: var(--black-40pct);
    }

    .loading__end {
        position: absolute;
        right: 1px;
        top: 100%;
        margin-top: 7px;
        color: var(--black-40pct);
    }