.marks {
    width: 360px;
}
    .marks__body {
        display: flex;
    }
        .marks__column {
            position: relative;
        }
            .marks__heading {

            }

            .marks__value {
                margin-top: 1px;
            }

        .marks__column:first-child {
            position: relative;
            padding-right: 24px;
            margin-right: 24px;
        }
            .marks__column:first-child::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 5px;
                width: 16px;
                height: 16px;
                background-image: url("../vectors/next.svg");
            }

    .marks__preview {
        margin-top: 21px;
    }


@media (max-width: 639px) {

    .marks {
        width: auto;
    }
        .marks__body {
            /*display: grid;*/
            /*grid-auto-flow: column;*/
            /*justify-content: space-between;*/
        }
            .marks__column {
                /*position: relative;*/
            }
                .marks__heading {

                }

                .marks__value {
                    /*margin-top: 1px;*/
                }

            .marks__column:first-child {
                /*position: relative;*/
                /*padding-right: 23px;*/
            }
                .marks__column:first-child::after {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*right: 0;*/
                    /*bottom: 5px;*/
                    /*width: 16px;*/
                    /*height: 16px;*/
                    /*background-image: url("../vectors/next.svg");*/
                }

        .marks__preview {
            /*margin-top: 21px;*/
        }
}


@media (max-width: 420px) {
    .marks__value.title,
    .marks__value .title {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 380px) {
    .marks__value.title,
    .marks__value .title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 359px) {
    .marks__value.title,
    .marks__value .title {
        font-size: 16px;
        line-height: 24px;
    }
}