.next {
    display: inline-block;
    vertical-align: top;
    padding-right: 22px;
    background-image: url("../vectors/next.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
}

.next:hover {
    color: var(--light-green);
    background-image: url("../vectors/next-hover.svg");
}
