.page {
    height: 100%;
}


@media (max-width: 639px) {

    .notifications-expanded .page {
        display: none;
    }

    .user-expanded .page {
        display: none;
    }

    .nav-expanded .page {
        display: none;
    }
}
