.progress {
    padding-top: 32px;
}
    .progress__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .progress__body {
        margin-top: 26px;
    }
        .progress__item {
            border-radius: 8px;
        }
            .progress__handler {
                position: relative;
                display: flex;
                align-items: flex-start;
                width: 100%;
                background-color: transparent;
                padding: 11px 48px 11px 16px;
                border: none;
                border-top: 1px solid var(--beige-4-active);
                font-family: inherit;
                font-weight: inherit;
                font-size: var(--body2-font);
                line-height: var(--body2-line);
                color: inherit;
                text-decoration: none;
                text-align: left;
                cursor: pointer;
            }

            .progress__item--current .progress__handler {
                border-top-color: transparent;
            }

            .progress__item:first-child .progress__handler {
                border-top-color: transparent;
            }

            .progress__item--current + .progress__item .progress__handler {
                border-top-color: transparent;
            }

            .progress__handler:hover {
                position: relative;
                z-index: 10;
                background-color: var(--panel-hover);
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-radius: 8px;
            }

            .progress__handler:hover + .progress__dropdown .progress__inner {
                border-top-color: transparent;
            }

            .progress__handler:active {
                position: relative;
                z-index: 10;
                background-color: var(--panel-active);
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-radius: 8px;
            }

            .progress__handler:hover + .progress__dropdown .progress__inner {
                border-top-color: transparent;
            }

            .progress__item:not(.progress__item--expanded):hover + .progress__item .progress__handler {
                border-top-color: transparent;
            }

            .progress__item:not(.progress__item--expanded):active + .progress__item .progress__handler {
                border-top-color: transparent;
            }
                .progress__handler::after {
                    content: "";
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    margin-top: -12px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url("../vectors/dropdown.svg");
                    background-size: 16px 16px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }


            .progress__dropdown {
                display: none;
                font-size: var(--body2-font);
                line-height: var(--body2-line);
            }
                .progress__inner {
                    margin-top: -1px;
                    padding: 24px;
                    border-top: 1px solid var(--beige-4-active);
                }
                    .progress__entry {
                        margin-top: 20px;
                        display: flex;
                        align-items: flex-start;
                    }

                    .progress__entry:first-child {
                        margin-top: 0;
                    }
                        .progress__type {
                            margin-right: 24px;
                        }

                        .progress__addition {
                            margin-left: auto;
                            display: flex;
                            vertical-align: top;
                            margin-top: 1px;
                            font-size: var(--body1-font);
                            line-height: var(--caption-line);
                        }
                            .progress__quantity {
                                margin-right: 12px;
                                min-width: 58px;
                                text-align: right;
                            }

                            .progress__percentage {
                                width: 46px;
                                color: var(--black-40pct);
                                text-align: right;
                            }

        .progress__item--current {
            background-color: var(--beige-2);
        }
            .progress__item--current .progress__handler {
                background-color: var(--beige-4-active);
                border-radius: 8px;
            }

            .progress__item--current .progress__inner {
                box-shadow: inset 0 1px 0 0 #FFFFFF;
            }



        .progress__item--expanded {

        }
            .progress__item--expanded .progress__handler::after {
                transform: scaleY(-1);
            }

            .progress__item--expanded.progress__item--current .progress__handler {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .progress__item--expanded .progress__dropdown {
                display: block;
            }




@media (max-width: 639px) {

    .progress {
        /*padding-top: 32px;*/
    }
        .progress__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
        }

        .progress__body {
            /*margin-top: 26px;*/
            margin-left: calc(-1 * var(--container-padding-mobile));
            margin-right: calc(-1 * var(--container-padding-mobile));
        }
            .progress__item {
                /*border-radius: 8px;*/
            }
                .progress__handler {
                    /*position: relative;*/
                    /*display: block;*/
                    /*width: 100%;*/
                    /*background-color: transparent;*/
                    /*padding: 11px 16px;*/
                    /*border: none;*/
                    /*border-top: 1px solid var(--beige-4-active);*/
                    /*font-family: inherit;*/
                    /*font-weight: inherit;*/
                    /*font-size: var(--body2-font);*/
                    /*line-height: var(--body2-line);*/
                    /*color: inherit;*/
                    /*text-decoration: none;*/
                    /*text-align: left;*/
                    /*cursor: pointer;*/
                }

                .progress__item--current .progress__handler {
                    /*border-top-color: transparent;*/
                }

                .progress__item:first-child .progress__handler {
                    /*border-top-color: transparent;*/
                }

                .progress__item--current + .progress__item .progress__handler {
                    /*border-top-color: transparent;*/
                }

                .progress__handler:hover {
                    /*position: relative;*/
                    /*z-index: 10;*/
                    /*background-color: var(--panel-hover);*/
                    /*border-top-color: transparent;*/
                    /*border-bottom-color: transparent;*/
                    /*border-radius: 8px;*/
                }

                .progress__handler:hover + .progress__dropdown .progress__inner {
                    /*border-top-color: transparent;*/
                }

                .progress__handler:active {
                    /*position: relative;*/
                    /*z-index: 10;*/
                    /*background-color: var(--panel-active);*/
                    /*border-top-color: transparent;*/
                    /*border-bottom-color: transparent;*/
                    /*border-radius: 8px;*/
                }

                .progress__handler:hover + .progress__dropdown .progress__inner {
                    /*border-top-color: transparent;*/
                }

                .progress__item:not(.progress__item--expanded):hover + .progress__item .progress__handler {
                    /*border-top-color: transparent;*/
                }

                .progress__item:not(.progress__item--expanded):active + .progress__item .progress__handler {
                    /*border-top-color: transparent;*/
                }
                    .progress__handler::after {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*right: 12px;*/
                        /*top: 50%;*/
                        /*margin-top: -12px;*/
                        /*display: block;*/
                        /*width: 24px;*/
                        /*height: 24px;*/
                        /*background-image: url("../vectors/dropdown.svg");*/
                        /*background-size: 16px 16px;*/
                        /*background-repeat: no-repeat;*/
                        /*background-position: center center;*/
                    }


                .progress__dropdown {
                    /*display: none;*/
                    /*font-size: var(--body2-font);*/
                    /*line-height: var(--body2-line);*/
                }
                    .progress__inner {
                        /*margin-top: -1px;*/
                        /*padding: 24px;*/
                        /*border-top: 1px solid var(--beige-4-active);*/
                    }
                        .progress__entry {
                            margin-top: 24px;
                            display: block;
                        }

                        .progress__entry:first-child {
                            /*margin-top: 0;*/
                        }
                            .progress__timing {
                                /*display: flex;*/
                                /*align-items: flex-start;*/
                                /*flex-shrink: 0;*/
                            }
                                .progress__date {
                                    /*width: 98px;*/
                                }

                                .progress__time {
                                    /*width: 98px;*/
                                    /*margin-left: 24px;*/
                                }

                            .progress__content {
                                margin-left: 0;
                                margin-top: 16px;
                            }
                                .progress__row {
                                    /*margin-top: 10px;*/
                                }

                                .progress__row:first-child {
                                    /*margin-top: 0;*/
                                }

            .progress__item--current {
                /*background-color: var(--beige-5-current);*/
            }
                .progress__item--current .progress__handler {
                    /*background-color: #FBF1BD;*/
                    /*border-radius: 8px;*/
                }

                .progress__item--current .progress__inner {
                    /*box-shadow: inset 0 1px 0 0 #FFFFFF;*/
                }



            .progress__item--expanded {

            }
                .progress__item--expanded .progress__handler::after {
                    /*transform: scaleY(-1);*/
                }

                .progress__item--expanded.progress__item--current .progress__handler {
                    /*border-bottom-left-radius: 0;*/
                    /*border-bottom-right-radius: 0;*/
                }

                .progress__item--expanded .progress__dropdown {
                    /*display: block;*/
                }
}
