.profile {
    padding-top: 32px;
    padding-bottom: 64px;
}
    .profile__head-wrap {

    }
        .profile__head {
            padding-bottom: 27px;
            border-bottom: 1px solid var(--black);
        }
            .profile__breadcrumbs {
                margin-bottom: 2px;
            }

            .profile__heading {
                margin-top: 0;
                margin-bottom: 0;
            }

    .profile__body-wrap {

    }
        .profile__body {
            padding-top: 31px;
            display: grid;
            grid-template-columns: 860fr 307fr;
            grid-gap: 32px;
        }

        @media (min-width: 1240px) {
            .profile__body {
                grid-template-columns: 860px 307px;
                justify-content: space-between;
            }
        }
            .profile__content {

            }
                .profile__section {
                    margin-top: 34px;
                }

                .profile__section:first-child {
                    margin-top: 0;
                }
                    .profile__sub-heading {
                        margin-top: 0;
                        margin-bottom: 26px;
                    }

                    .profile__subscriptions {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 24px;
                    }
                        .profile__paid-course {

                        }

                    .profile__payments {
                        margin-left: auto;
                    }

                    .profile__progress {
                        margin-top: -58px;
                    }
                        .profile__points {
                            margin-left: auto;
                        }

                        .profile__graph {
                            margin-top: 40px;
                        }

                    .profile__types {

                    }

                .profile__summary {
                    display: flex;
                    align-items: flex-start;
                    gap: 32px;
                }
                    .profile__data {
                        margin-top: -4px;
                    }

                    .profile__achievements {
                        margin-left: auto;
                        margin-right: auto;
                    }

            .profile__sidebar {

            }
                .profile__nav {
                    margin-top: -6px;
                    margin-bottom: 34px;
                }

                .profile__side-section {
                    margin-top: 16px;
                }

                .profile__side-section:first-child {
                    margin-top: 0;
                }


@media (max-width: 639px) {

    .profile {

    }
        .profile__head-wrap {

        }
            .profile__head {
                /*padding-bottom: 27px;*/
                /*border-bottom: 1px solid var(--black);*/
            }
                .profile__breadcrumbs {
                    /*margin-bottom: 2px;*/
                }

                .profile__heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                }

        .profile__body-wrap {

        }
            .profile__body {
                position: relative;
                width: auto;
                display: block;
            }

            .profile--has-navigation .profile__body {
                padding-top: 124px;
            }

                .profile__content {

                }
                    .profile__section {

                    }
                        .profile__sub-heading {

                        }

                        .profile__subscriptions {
                            display: block;
                        }
                            .profile__paid-course {
                                margin-top: 16px;
                            }

                            .profile__paid-course:first-child {
                                margin-top: 0;
                            }

                        .profile__payments {

                        }

                        .profile__progress {
                            margin-top: 0;
                        }
                            .profile__points {
                                margin-left: 0;
                            }

                            .profile__graph {
                                /*margin-top: 40px;*/
                            }

                        .profile__types {

                        }

                .profile__sidebar {
                    margin-top: 33px;
                }
                    .profile__nav {
                        position: absolute;
                        z-index: 10;
                        left: 0;
                        top: 32px;
                        margin-top: 0;
                        margin-bottom: 0;
                        background-color: #FFFFFF;
                    }
                        .profile__nav.accordion,
                        .profile__nav .accordion {
                            width: 100%;
                        }

                    .profile__side-section {

                    }

                .profile__question {

                }
}


