.results {

}
    .results__navigations {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
    }
        .results__link {
            position: relative;
            padding: 12px 24px 14px;
            font-size: var(--body2-font);
            line-height: var(--body2-line);
            text-align: center;
            color: var(--black);
            text-decoration: none;
        }

        .results__link:hover {
            color: var(--light-green);
        }

            .results__link::after {
                content: "";
                position: absolute;
                left: 3px;
                right: 3px;
                bottom: 0;
                display: block;
                height: 4px;
                background-color: var(--black-8pct);
                border-radius: 2px;
            }

        .results__link--current,
        .results__link--current:hover,
        .results__link--current:after {
            color: var(--black);
            cursor: default;
        }
            .results__link--current::after,
            .results__link--current:hover::after,
            .results__link--current:active::after {
                background-color: var(--black);
            }

    .results__table {
        margin-top: 30px;
        vertical-align: top;
        width: 100%;
        border-collapse: collapse;
    }
        .results__table th,
        .results__table td {
            padding-left: 16px;
            padding-right: 16px;
        }

        .results__table th:first-child,
        .results__table td:first-child {
            padding-left: 24px;
        }

        .results__table th:last-child,
        .results__table td:last-child {
            padding-right: 24px;
        }


        .results__table th:nth-child(1),
        .results__table td:nth-child(1) {
            width: 100%;
        }

        .results__table th:nth-child(2),
        .results__table td:nth-child(2) {
            box-sizing: content-box;
            min-width: 144px;
            white-space: nowrap;
        }

        .results__table th:nth-child(3),
        .results__table td:nth-child(3) {
            box-sizing: content-box;
            min-width: 144px;
            white-space: nowrap;
        }


        .results__table thead {

        }
            .results__table thead tr {

            }
                .results__table thead th {
                    padding: 8px 16px 10px;
                    background-color: var(--beige-2);
                    font-weight: normal;
                    font-size: var(--body1-font);
                    line-height: var(--body1-line);
                    color: var(--black-40pct);
                    text-align: left;
                }

                .results__table thead th:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                .results__table thead th:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

        .results__table tbody {

        }
            .results__table tbody tr {
                cursor: pointer;
                border-top: 1px solid var(--beige-2);
            }
            .results__table tbody tr:first-child {
                border-top: none;
            }

            .results__table tbody tr:hover {
                background-color: var(--panel-hover);
            }

            .results__table tbody tr:active {
                background-color: var(--panel-active);
            }

                .results__table tbody td {
                    padding: 10px 16px 12px;
                }

