/* stylelint-disable declaration-colon-space-after */
:root {

    --font-default: "Inter", sans-serif;
    --font-heading: Georgia, Times, "Times New Roman", serif;
    --image-fallback: #CCCCCC;
    --black: #111111;
    --black-40pct: #999999;
    --black-hover: rgba(17, 17, 17, 0.8);
    --black-disabled-background: rgba(17, 17, 17, 0.08);
    --black-disabled-text: rgba(17, 17, 17, 0.32);
    --panel-hover: #F7F7F7;
    --panel-active: #F4F4F4;
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);

    --body2-font: 16px;
    --body2-line: 24px;

    --caption-font: 12px;
    --caption-line: 18px;

    --headline-1-font: 18px;
    --headline-1-line: 26px;

    --headline-2-font: 20px;
    --headline-2-line: 28px;
}
/* stylelint-enable declaration-colon-space-after */
