/* stylelint-disable declaration-colon-space-after */
:root {

    --font-default: "Inter", sans-serif;
    --font-heading: "RF Dewi Extended";
    --image-fallback: #CCCCCC;
    --black: #111111;
    --black-8pct: rgba(0, 0, 0, 0.08);
    --black-16pct: rgba(0, 0, 0, 0.16);
    --black-32pct: rgba(0, 0, 0, 0.32);
    --black-40pct: rgba(0, 0, 0, 0.4);
    --black-hover: rgba(17, 17, 17, 0.8);
    --black-disabled-background: rgba(17, 17, 17, 0.08);
    --black-disabled-text: rgba(17, 17, 17, 0.32);
    --panel-hover: #F7F7F7;
    --panel-active: #F4F4F4;
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
    --container-padding-desktop: 32px;
    --container-padding-mobile: 24px;

    --body1-font: 14px;
    --body1-line: 22px;

    --body2-font: 16px;
    --body2-line: 24px;

    --buttons-default-font: 18px;
    --buttons-default-line: 24px;

    --body2-font-mobile: 18px;
    --body2-line-mobile: 26px;

    --caption-font: 12px;
    --caption-line: 18px;

    --headline-1-font: 18px;
    --headline-1-line: 26px;

    --headline-2-font: 20px;
    --headline-2-line: 28px;

    --ultrabold: 800;

    --light-green: #A8D741;
    --light-green-40pct: #DDEFB6;
    --green-icons: #A8D741;

    --beige-2: #F8F6F0;
    --beige-4-active: #EEEBDF;
    --beige-5-current: #FFF7CB;
}
/* stylelint-enable declaration-colon-space-after */
