.task {

}
    .task__question {
        padding: 22px 24px 24px;
        border: 1px solid var(--black-16pct);
        border-radius: 8px;
    }

    .task__question {
        margin-top: 12px;
    }

    .task__question:first-child {
        margin-top: 0;
    }
        .task__problem {
            font-size: var(--body2-font);
            line-height: var(--body2-line);
        }
            .task__intro-note {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: bold;
            }

        .task__answer {
            margin-top: 24px;
            padding: 40px 32px 40px 24px;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            background-color: var(--beige-5-current);
            border-radius: 8px;
        }
            .task__sub-heading {
                margin-top: 2px;
                margin-right: 16px;
                font-size: var(--body2-font);
                line-height: var(--body2-line);
            }

            .task__enter {
                position: relative;
            }
                .task__field {

                }
                    .task__field .input__widget {
                        padding-right: 114px;
                    }

                .task__validity {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

            .task__check {
                margin-left: 16px;
            }

    .task__solution {
        margin-top: 16px;
        border: 1px solid var(--black-16pct);
        border-radius: 8px;
    }
        .task__show-solution {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            background-color: transparent;
            padding: 24px;
            border-radius: 7px;
            border: none;
            font-size: 18px;
            line-height: 26px;
            text-align: left;
            cursor: pointer;
        }

        .task__show-solution:hover {
            background-color: var(--panel-hover);
        }

        .task__show-solution:active {
            background-color: var(--panel-active);
        }

        .task__explanation {
            padding: 24px;
            display: none;
        }

        .task--expanded .task__explanation {
            display: block;
        }

    .task__footer {
        text-align: right;
    }

    .task__footer--center {
        text-align: center;
    }
        .task__next {
            margin-top: 24px;
        }
        .task__next.button,
        .task__next .button {
            min-width: 195px;
        }

    .task__discussion {
        margin-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
        .task__author {

        }
            .task__avatar {
                position: absolute;
                left: -72px;
                top: 30px;
            }

            .task__name {
                font-size: var(--caption-font);
                line-height: var(--caption-line);
            }

        .task__comment {
            margin-top: 12px;
            position: relative;
            border: 1px solid var(--black);
            padding: 24px;
            border-radius: 8px;
            font-size: var(--body2-font);
            line-height: var(--body2-line);
        }
            .task__status-in-comment {
                position: absolute;
                right: 24px;
                top: 24px
            }

            .task__status-in-comment ~ .wysiwyg {
                margin-right: 32px;
            }

.task--no-solution {

}
    .task--no-solution .task__question {
        padding: 0;
        border: none;
    }

    .task--no-solution .task__field .input__widget {
        padding-right: 15px;
    }


@media (max-width: 639px) {

    .task {

    }
        .task__question {
            padding: 0;
            border: none;
            /*border-radius: 8px;*/
        }
            .task__problem {
                font-size: var(--body2-font-mobile);
                line-height: var(--body2-line-mobile);
            }

            .task__answer {
                padding: 24px 24px 40px;
                display: block;
                /*grid-template-columns: auto 1fr auto;*/
                /*background-color: var(--beige-5-current);*/
                /*border-radius: 8px;*/
            }
                .task__sub-heading {
                    margin-top: 0;
                    margin-bottom: 4px;
                    /*margin-right: 16px;*/
                    /*margin-top: 13px;*/
                    /*font-size: var(--body2-font);*/
                    /*line-height: var(--body2-line);*/
                }

                .task__enter {
                    /*position: relative;*/
                }
                    .task__field {

                    }
                        .task__field .input__widget {
                            /*padding-right: 114px;*/
                        }

                    .task__validity {
                        position: static;
                        /*right: 0;*/
                        /*top: 0;*/
                    }

                .task__check {
                    margin-top: 12px;
                    margin-left: 0;
                }

                .task__check.button,
                .task__check .button {
                    width: 100%;
                }

        .task__solution {
            /*margin-top: 16px;*/
            /*border: 1px solid var(--black-16pct);*/
            /*border-radius: 8px;*/
        }
            .task__show-solution {
                /*display: inline-block;*/
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*background-color: transparent;*/
                /*padding: 24px;*/
                /*border-radius: 7px;*/
                /*border: none;*/
                /*font-size: var(--body2-font);*/
                /*line-height: var(--body2-line);*/
                /*text-align: left;*/
                /*cursor: pointer;*/
                text-align: center;
            }

            .task__show-solution:hover {
                /*background-color: var(--panel-hover);*/
            }

            .task__show-solution:active {
                /*background-color: var(--panel-active);*/
            }

            .task__explanation {
                /*padding: 24px;*/
                /*display: none;*/
            }

            .task--expanded .task__explanation {
                /*display: block;*/
            }

        .task__footer {
            /*text-align: right;*/
        }
            .task__next {
                /*margin-top: 16px;*/
            }
}
