.test {
    margin-left: var(--container-padding-desktop);
    margin-right: var(--container-padding-desktop);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}
    .test__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 96px;
        padding-left: 130px;
        padding-right: 130px;
        border-bottom: 1px solid var(--black);
        text-align: center;
    }
        .test__toggle-pause {
            position: absolute;
            left: 32px;
            top: 24px;
        }

        .test__time {

        }

        .test__sub-heading {
            margin-top: 2px;
            margin-bottom: 0;
            font-weight: normal;
            font-size: var(--body2-font);
            line-height: var(--body2-line);
        }

        .test__heading {
            margin-top: 8px;
            margin-bottom: 8px;
        }

    .test__body {
        position: relative;
        display: grid;
        grid-template-rows: 1fr auto;
    }
        .test__content {
            max-width: 860px;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
        }

        .test__footer {
            margin-top: 40px;
        }
            .test__report {
                margin-bottom: 24px;
                font-size: var(--body1-font);
                line-height: var(--body1-line);
                color: var(--black-40pct);
            }

            .test__navigation {
                margin-left: calc(-1 * var(--container-padding-desktop));
                margin-right: calc(-1 * var(--container-padding-desktop));
                padding: 24px var(--container-padding-desktop) 32px;
                border-top: 1px solid var(--black);
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;
            }

        .test__pause {
            position: absolute;
            left: calc(-1 * var(--container-padding-desktop));
            right: calc(-1 * var(--container-padding-desktop));
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            padding-top: calc((100vh - 266px) / 3);
            display: none;
        }


.test--paused {

}
    .test--paused .test__content {
        filter: blur(40px);
    }

    .test--paused .test__pause {
        display: block;
    }
