.textbook {
    padding-top: 32px;
    padding-bottom: 64px;
}
    .textbook__head {
        padding-bottom: 27px;
        border-bottom: 1px solid var(--black);
        margin-bottom: 20px;
    }
        .textbook__breadcrumbs {
            margin-bottom: 2px;
        }

        .textbook__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

    .textbook__body {
        display: grid;
        grid-template-columns: 860fr 307fr;
        grid-gap: 32px;
    }

        @media (min-width: 1240px) {
            .textbook__body {
                grid-template-columns: 860px 307px;
                justify-content: space-between;
            }
        }

        .textbook__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }
            .textbook__column {

            }
                .textbook__section {
                    margin-top: 22px;
                    border-top: 1px solid var(--black);
                    padding-top: 22px;
                }

                .textbook__section:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }

                    .textbook__sub-heading {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .textbook__list {
                        margin-top: 12px;
                    }
                        .textbook__item {
                            position: relative;
                            padding: 6px 8px 6px 12px;
                            display: flex;
                            align-items: flex-start;
                            color: inherit;
                            text-decoration: none;
                            border-radius: 3px;
                        }

                        .textbook__item:not(.textbook__item--disabled):hover {
                            background-color: var(--panel-hover);
                        }

                        .textbook__item:not(.textbook__item--disabled):active {
                            background-color: var(--panel-active);
                        }
                            .textbook__icon {
                                flex-shrink: 0;
                                margin-top: 4px;
                                margin-right: 12px;
                                fill: var(--black-32pct);
                            }

                            .textbook__label {
                                flex-grow: 1;
                                font-size: var(--body2-font);
                                line-height: var(--body2-line);
                            }

                            .textbook__duration {
                                margin-top: 1px;
                                margin-left: 12px;
                                flex-shrink: 0;
                                font-size: var(--body1-font);
                                line-height: var(--body1-line);
                                color: var(--black-32pct);
                            }

                        .textbook__item--disabled {
                            cursor: default;
                        }
                            .textbook__item--disabled .textbook__label {
                                color: var(--black-32pct);
                            }

        .textbook__sidebar {

        }
            .textbook__card {

            }

            .textbook__progress {
                margin-top: 16px;
            }
