.title {
    font-family: var(--font-heading);
}

.title--h2 {
    font-weight: var(--ultrabold);
    font-size: 20px;
    line-height: 28px;
}


.title--h5 {
    font-weight: var(--ultrabold);
    font-size: 30px;
    line-height: 34px;
}
