.user {
    position: absolute;
    z-index: 1000;
    right: 84px;
    top: var(--header-height);
    background-color: var(--black);
    box-shadow: inset 0 1px 0 var(--white-16pct);
    padding-top: 11px;
    padding-bottom: 24px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 340px;
    display: none;
}

.user-expanded .user {
    display: block;
}
    .user__close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .user__close__list {

    }
        .user__link {
            display: block;
            padding: 12px 40px;
            font-size: var(--headline-1-font);
            line-height: var(--headline-1-line);
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;
        }

        .user__link:hover {
            background-color: var(--black-background-hover);
        }


@media (max-width: 639px) {


    /* Красим всю страницу когда открыт юзер, ведь меню не на всю высоту */
    .user-expanded {
        background-color: var(--black);
    }

    .user {
        position: relative;
        /*z-index: 1000;*/
        right: auto;
        top: auto;
        /*background-color: var(--black);*/
        /*box-shadow: inset 0 1px 0 var(--white-16pct);*/
        /*padding-top: 11px;*/
        /*padding-bottom: 24px;*/
        /*border-bottom-left-radius: 16px;*/
        /*border-bottom-right-radius: 16px;*/
        width: auto;
        /*display: none;*/
    }
        .user__close {
            /*position: absolute;*/
            /*right: 0;*/
            /*top: 0;*/
        }

        .user__close__list {

        }
            .user__link {
                /*display: block;*/
                padding: 19px 60px;
                font-size: var(--headline-2-font);
                line-height: var(--headline-2-line);
                /*color: #FFFFFF;*/
                /*text-decoration: none;*/
                /*cursor: pointer;*/
            }

            .user__link:hover {
                background-color: transparent;
            }
}
