@import url("../vendors/normalize/normalize.css");
@import url("../vendors/magnific-popup/dist/magnific-popup.css");
@import url("../vendors/jquery-scrollbar/jquery.scrollbar.css");

@import url("_html.css");
@import url("_body.css");
@import url("_button.css");
@import url("_mfp.css");
@import url("_root.css");
@import url("_universal.css");
@import url("_visuallyhidden.css");
@import url("_classes-list.css");
@import url("_title.css");
@import url("_class-preview.css");
@import url("_avatar.css");
@import url("_container.css");
@import url("_headline.css");
@import url("_header.css");
@import url("_course.css");
@import url("_course-card.css");
@import url("_instructor-card.css");
@import url("_student.css");
@import url("_caption.css");
@import url("_room.css");
@import url("_round-loading.css");
@import url("_link.css");
@import url("_dummy.css");
@import url("_accordion.css");
@import url("_next.css");
@import url("_wysiwyg.css");
@import url("_mobile-collapse.css");
@import url("_course-overview.css");
@import url("_video.css");
@import url("_schedule.css");
@import url("_materials.css");
@import url("_progress.css");
@import url("_live.css");
@import url("_task-preview.css");
@import url("_task.css");
@import url("_assignment.css");
@import url("_input.css");
@import url("_correctly.css");
@import url("_test-preview.css");
@import url("_tests-list.css");
@import url("_test.css");
@import url("_attach.css");
@import url("_scroll-locked.css");
@import url("_pause.css");
@import url("_results.css");
@import url("_success.css");
@import url("_danger.css");
@import url("_note.css");
@import url("_report.css");
@import url("_recommendations.css");
@import url("_breadcrumbs.css");
@import url("_dashboard.css");
@import url("_my-day.css");
@import url("_colorful-card.css");
@import url("_bar.css");
@import url("_math-background.css");
@import url("_math-border.css");
@import url("_russian-background.css");
@import url("_russian-border.css");
@import url("_informatics-background.css");
@import url("_informatics-border.css");
@import url("_advancing.css");
@import url("_textbook.css");
@import url("_profile.css");
@import url("_card.css");
@import url("_table.css");
@import url("_reports-preview.css");
@import url("_media.css");
@import url("_marks.css");
@import url("_loading.css");
@import url("_data.css");
@import url("_achievements.css");
@import url("_settings.css");
@import url("_labeled.css");
@import url("_form.css");
@import url("_hint.css");
@import url("_choice.css");
@import url("_checklist.css");
@import url("_goal.css");
@import url("_dropdown.css");
@import url("_menu.css");
@import url("_goals-list.css");
