@import url("../vendors/normalize/normalize.css");
@import url("../vendors/magnific-popup/dist/magnific-popup.css");
@import url("../vendors/jquery-scrollbar/jquery.scrollbar.css");

@import url("_body.css");
@import url("_button.css");
@import url("_mfp.css");
@import url("_root.css");
@import url("_universal.css");
@import url("_visuallyhidden.css");
@import url("_classes-list.css");
@import url("_title.css");
@import url("_class-preview.css");
@import url("_avatar.css");
@import url("_container.css");
@import url("_headline.css");
@import url("_header.css");
@import url("_course.css");
@import url("_course-card.css");
@import url("_instructor-card.css");
@import url("_student.css");
@import url("_caption.css");
@import url("_room.css");
@import url("_round-loading.css");
@import url("_link.css");
@import url("_dummy.css");
