<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Онлайн-класс</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1655731398">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="course">
                <a class="course__breadcrumbs next" href="#">
                    Все онлайн-занятия
                </a>
                <div class="course__body">
                    <div class="course__content">
                        <h1 class="course__heading title title--h5">
                            Базовый ЕГЭ по математике для учеников 10 и 11 классов
                        </h1>
                        <div class="course__pages">
                            <!-- Внутренняя страница курса -->
                            <div class="live">
                                <div class="live__head">
                                    <div class="live__badge">
                                        <svg class="live__icon" width="18" height="12">
                                            <use xlink:href="../symbols/symbols.svg?1655731398#union"></use>
                                        </svg>
                                        Live
                                    </div>
                                    <div class="live__note">
                                        Идет 3 неделя. Онлайн занятие закончится в 17:00.
                                    </div>
                                </div>
                                <div class="live__stage">
                                    <!-- temp -->
                                    <div style="height: 300px; background: purple; color: white; display: flex; align-items: center; justify-content: center;">
                                        Виджет трансляции
                                    </div>
                                    <!--/temp  -->
                                </div>
                                <h2 class="live__sub-heading title title--h6">
                                    План занятия
                                </h2>
                                <div class="live__description wysiwyg">
                                    <p>Добро пожаловать! Все задачи 1 части + 13, 15, 17 + знакомство с параметрами. Все, чтобы сдать на 80 баллов. Теория, практика, ДЗ, репетиционные ЕГЭ!</p>
                                    <ul>
                                        <li>Простейшие уравнения и пропорции</li>
                                        <li>Вычисления</li>
                                        <li>Задачи на проценты</li>
                                        <li>Задачи на округление (с недостатком, с избытком)</li>
                                    </ul>
                                </div>
                                <div class="live__addition">
                                    <div class="live__task task-preview">
                                        <h3 class="task-preview__heading headline headline--2">
                                            Домашнее задание
                                        </h3>
                                        <div class="task-preview__description">
                                            Выполнить 12 заданий по планиметрии
                                        </div>
                                        <div class="task-preview__date">
                                            до 19 сентября 2021
                                        </div>
                                        <a class="task-preview__link button button--beige" href="#">
                                            Выполнить
                                        </a>
                                    </div>
                                    <div class="live__task task-preview">
                                        <h3 class="task-preview__heading headline headline--2">
                                            Бонусное задание
                                        </h3>
                                        <div class="task-preview__description">
                                            Выполнить 4 задания по планиметрии повышенной сложности
                                        </div>
                                        <div class="task-preview__date">
                                            до 19 сентября 2021
                                        </div>
                                        <a class="task-preview__link button button--beige" href="#">
                                            Выполнить
                                        </a>
                                    </div>
                                    <div class="live__task task-preview">
                                        <h3 class="task-preview__heading headline headline--2">
                                            Бонусное задание №2
                                        </h3>
                                        <div class="task-preview__description">
                                            Выполнить 2 задания по планиметрии экстремальной сложности
                                        </div>
                                        <div class="task-preview__date">
                                            до 19 сентября 2021
                                        </div>
                                        <a class="task-preview__link button button--beige" href="#">
                                            Выполнить
                                        </a>
                                    </div>
                                    <div class="live__task task-preview">
                                        <h3 class="task-preview__heading headline headline--2">
                                            Общий тест по планиметрии
                                        </h3>
                                        <div class="task-preview__description">
                                            Выполнить общий тест по планиметрии
                                        </div>
                                        <div class="task-preview__date">
                                            до 19 сентября 2021
                                        </div>
                                        <a class="task-preview__link button button--beige" href="#">
                                            Выполнить
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/Внутренняя страница курса -->
                        </div>
                    </div>
                    <div class="course__sidebar">
                        <div class="course__teacher instructor-card">
                            <a class="instructor-card__preview avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-f-48x48@2x.jpg 2x"
                                     src="../temp/person-f-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Tim Cook"
                                >
                            </a>
                            <div class="instructor-card__post">
                                Преподаватель
                            </div>
                            <div class="instructor-card__name headline headline--2">
                                Самойлова Марина Кирилловна
                            </div>
                        </div>
                        <div class="course__students room">
                            <button class="room__handler headline headline--2" type="button">
                                Ученики в классе
                            </button>
                            <div class="room__body">
                                <div class="room__scroll scrollbar scrollbar-macosx">
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-a-38x38@2x.jpg 2x"
                                                     src="../temp/person-a-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                12
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Андрей В.
                                        </div>
                                        <div class="student__note">
                                            Самара
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Лев Д.
                                        </div>
                                        <div class="student__note">
                                            Екатеринбург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-f-38x38@2x.jpg 2x"
                                                     src="../temp/person-f-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                7
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Виктория К.
                                        </div>
                                        <div class="student__note">
                                            Сочи
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <img class="avatar__image"
                                                     srcset="../temp/person-c-38x38@2x.jpg 2x"
                                                     src="../temp/person-c-38x38.jpg"
                                                     width="38"
                                                     height="38"
                                                     alt="Tim Cook"
                                                >
                                            </div>
                                            <div class="student__counter">
                                                6
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            София Кузнецова
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Ярослав Павлов
                                        </div>
                                        <div class="student__note">
                                            Санкт-Петербург
                                        </div>
                                    </a>
                                    <a class="room__item student student--clickable" href="#">
                                        <div class="student__preview">
                                            <svg class="student__progress round-loading" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle stroke="#EEEBE0" stroke-width="3" cx="23" cy="23" r="21"></circle>
                                                <circle stroke-dashoffset="98.96" stroke-dasharray="131.9468" stroke="#A8D741" stroke-width="3" cx="23" cy="23" r="21" transform="rotate(-90)" transform-origin="23 23"></circle>
                                            </svg>
                                            <div class="student__photo avatar">
                                                <svg class="avatar__image" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <defs>
                                                        <radialGradient id="gradient" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="rotate(101.083 10.817 13.884) scale(39.1255 54.4956)">
                                                            <stop offset=".04" stop-color="#E8E782"/>
                                                            <stop offset=".813" stop-color="#F3AA5C"/>
                                                            <stop offset=".969" stop-color="#EE5B54"/>
                                                        </radialGradient>
                                                    </defs>
                                                    <rect width="38" height="38" transform="rotate(-90 19 19)" fill="url(#gradient)"/>
                                                </svg>
                                            </div>
                                            <div class="student__counter">
                                                9
                                            </div>
                                        </div>
                                        <div class="student__heading">
                                            Владимир Н.
                                        </div>
                                        <div class="student__note">
                                            Москва
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js?1655731398"></script>
        <script src="../scripts/_mfp.js?1655731398"></script>
        <script src="../scripts/_scrollbar.js?1655731398"></script>
        <script src="../scripts/_room.js?1655731398"></script>
        <script src="../scripts/_mobile-collapse.js?1655731398"></script>
        <script src="../scripts/_accordion.js?1655731398"></script>
        <script src="../scripts/_schedule.js?1655731398"></script>
        <script src="../scripts/_progress.js?1655731398"></script>
        <script src="../scripts/_task.js?1655731398"></script>
        <script src="../scripts/_test.js?1655731398"></script>
        <script src="../scripts/_recommendations.js?1655731398"></script>

    </body>
</html>



