<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Курсы</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1657462120">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="container">
            <div class="classes-list">
                <div class="classes-list__section">
                    <div class="classes-list__head">
                        <h2 class="classes-list__sub-heading title title--h5">
                            Мои онлайн-классы
                        </h2>
                    </div>
                    <div class="classes-list__listing">
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Интенсив
                                </div>
                                <div class="class-preview__length">
                                    18 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Базовый ЕГЭ по математике для учеников 10 и 11 классов
                                </h3>
                                <div class="class-preview__note">
                                    Онлайн-занятие сегодня в 13:00
                                </div>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-f-48x48@2x.jpg 2x"
                                     src="../temp/person-f-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Tim Cook"
                                >
                            </a>
                        </div>
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Полный курс
                                </div>
                                <div class="class-preview__length">
                                    32 онлайн-занятия
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Русский язык. Авторский курс подготовки к ЕГЭ.
                                </h3>
                                <div class="class-preview__note">
                                    Старт 20 сентября (вт) в 17:00
                                </div>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-c-48x48@2x.jpg 2x"
                                     src="../temp/person-c-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Elon Musk"
                                >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="classes-list__section">
                    <div class="classes-list__head">
                        <h2 class="classes-list__sub-heading title title--h5">
                            Все онлайн-классы в&nbsp;школе
                        </h2>
                        <a class="classes-list__filter button button--secondary" href="#">
                            Фильтр
                        </a>
                    </div>
                    <div class="classes-list__listing">
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Интенсив
                                </div>
                                <div class="class-preview__length">
                                    5 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Вся информатика за 5 дней
                                </h3>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-a-48x48@2x.jpg 2x"
                                     src="../temp/person-a-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Mark Zuckerberg"
                                >
                            </a>
                            <a class="class-preview__details button button--secondary" href="#">
                                Подробнее
                            </a>
                        </div>
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Полный курс
                                </div>
                                <div class="class-preview__length">
                                    40 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Базовый ЕГЭ по математике, 10-11 классы
                                </h3>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-b-48x48@2x.jpg 2x"
                                     src="../temp/person-b-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Joe Biden"
                                >
                            </a>
                            <a class="class-preview__details button button--secondary" href="#">
                                Подробнее
                            </a>
                        </div>
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Полный курс
                                </div>
                                <div class="class-preview__length">
                                    20 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Профильный ЕГЭ по математике, 10-11 классы
                                </h3>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-c-48x48@2x.jpg 2x"
                                     src="../temp/person-c-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Elon Musk"
                                >
                            </a>
                            <a class="class-preview__details button button--secondary" href="#">
                                Подробнее
                            </a>
                        </div>
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Полный курс
                                </div>
                                <div class="class-preview__length">
                                    40 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Базовый ЕГЭ по математике, 10-11 классы
                                </h3>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-d-48x48@2x.jpg 2x"
                                     src="../temp/person-d-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Владимир Путин"
                                >
                            </a>
                            <a class="class-preview__details button button--secondary" href="#">
                                Подробнее
                            </a>
                        </div>
                        <div class="class-preview">
                            <a class="class-preview__link" href="#">
                                <div class="class-preview__type">
                                    Полный курс
                                </div>
                                <div class="class-preview__length">
                                    30 онлайн-занятий
                                </div>
                                <h3 class="class-preview__heading headline headline--1">
                                    Полный курс по информатике
                                </h3>
                            </a>
                            <a class="class-preview__lecturer avatar avatar--clickable">
                                <img class="avatar__image"
                                     srcset="../temp/person-e-48x48@2x.jpg 2x"
                                     src="../temp/person-e-48x48.jpg"
                                     width="48"
                                     height="48"
                                     alt="Angela Merkel"
                                >
                            </a>
                            <a class="class-preview__details button button--secondary" href="#">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js?1657462120"></script>
        <script src="../scripts/_mfp.js?1657462120"></script>
        <script src="../scripts/_scrollbar.js?1657462120"></script>
        <script src="../scripts/_room.js?1657462120"></script>
        <script src="../scripts/_mobile-collapse.js?1657462120"></script>
        <script src="../scripts/_accordion.js?1657462120"></script>
        <script src="../scripts/_schedule.js?1657462120"></script>

    </body>
</html>



