<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Сменить пароль</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1722507489">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">
            <div class="header__panel">
                <button class="header__burger" type="button">
                    <span class="header__bar header__bar--top"></span>
                    <span class="header__bar header__bar--middle"></span>
                    <span class="header__bar header__bar--bottom"></span>
                </button>
                <a class="header__logo" href="#">
                    <svg class="header__emblem" width="138" height="26">
                        <use xlink:href="../symbols/symbols.svg?1722507489#logo"></use>
                    </svg>
                </a>
                <button class="header__user" type="button">
                    <svg class="header__progress round-loading" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle stroke="rgba(255, 255, 255, 0.16)" stroke-width="1" cx="28" cy="28" r="22"></circle>
                        <circle stroke-dashoffset="115.4535" stroke-dasharray="153.9380" stroke="#A8D741" stroke-width="3" cx="28" cy="28" r="24.5" transform="rotate(-90)" transform-origin="28 28"></circle>
                    </svg>
                    <span class="header__photo avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-f-48x48@2x.jpg 2x"
                             src="../temp/person-f-48x48.jpg"
                             width="48"
                             height="48"
                             alt="Tim Cook"
                        >
                    </span>
                    <span class="header__name">Константин Константинопольский</span>
                    <span class="header__level">Уровень 6</span>
                </button>
                <button class="header__notifications" type="button">
                    <svg class="header__bell" width="20" height="20">
                        <use xlink:href="../symbols/symbols.svg?1722507489#bell"></use>
                    </svg>
                    <span class="header__updates dot">10 уведомлений</span>
                </button>
            </div>
        </header>

        <div class="nav">
            <button class="nav__close close-in-header" type="button">
                <svg class="close-in-header__cross" width="24" height="24">
                    <use xlink:href="../symbols/symbols.svg?1722507489#close"></use>
                </svg>
            </button>
            <nav class="nav__list">
                <a class="nav__link nav__link--current" href="#">Dashboard</a>
                <a class="nav__link" href="#">Тесты</a>
                <a class="nav__link" href="#">Онлайн-классы</a>
            </nav>
        </div>

        <div class="user">
            <button class="user__close close-in-header" type="button">
                <svg class="close-in-header__cross" width="24" height="24">
                    <use xlink:href="../symbols/symbols.svg?1722507489#close"></use>
                </svg>
            </button>
            <nav class="user__close__list">
                <a class="user__link" href="#">Профиль</a>
                <a class="user__link" href="#">Мой прогресс</a>
                <a class="user__link user__link--current" href="#">Настройки</a>
                <a class="user__link" href="#">Платежи</a>
            </nav>
        </div>

        <div class="notifications">
            <div class="notifications__head">
                <div class="notifications__heading title title--h6">
                    Уведомления
                </div>
                <button class="notifications__close close-in-header" type="button">
                    <svg class="close-in-header__cross" width="24" height="24">
                        <use xlink:href="../symbols/symbols.svg?1722507489#close"></use>
                    </svg>
                </button>
            </div>
            <div class="notifications__list">
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-a-38x38@2x.jpg 2x"
                             src="../temp/person-a-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Занятие по математике «Планиметрия. Часть 1.» начнется через 10 минут</div>
                    <div class="notifications__note">Сегодня в 13:34</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-b-38x38@2x.jpg 2x"
                             src="../temp/person-b-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Открылся урок «Основные понятия» в теме «Теория Вероятностей»</div>
                    <div class="notifications__note">Сегодня в 13:34</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-f-38x38@2x.jpg 2x"
                             src="../temp/person-f-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Доступны материалы по курсу «Базовый ЕГЭ по математике для учеников 10 и 11 классов»</div>
                    <div class="notifications__note">29 октября в 12:29</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-a-38x38@2x.jpg 2x"
                             src="../temp/person-a-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Занятие по математике «Планиметрия. Часть 1.» начнется через 10 минут</div>
                    <div class="notifications__note">Сегодня в 13:34</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-b-38x38@2x.jpg 2x"
                             src="../temp/person-b-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Открылся урок «Основные понятия» в теме «Теория Вероятностей»</div>
                    <div class="notifications__note">Сегодня в 13:34</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
                <a class="notifications__item" href="#">
                    <div class="notifications__preview avatar">
                        <img class="avatar__image"
                             srcset="../temp/person-f-38x38@2x.jpg 2x"
                             src="../temp/person-f-38x38.jpg"
                             width="38"
                             height="38"
                             alt="Tim Cook"
                        >
                    </div>
                    <div class="notifications__message">Доступны материалы по курсу «Базовый ЕГЭ по математике для учеников 10 и 11 классов»</div>
                    <div class="notifications__note">29 октября в 12:29</div>
                    <span class="header__updates dot">Новое уведомление</span>
                </a>
            </div>
        </div>

        <div class="page">
            <div class="settings">
                <div class="settings__head-wrap container container--full-width">
                    <div class="settings__head">
                        <div class="settings__breadcrumbs breadcrumbs">
                            <div class="breadcrumbs__item">
                                <a class="next" href="#">Dashboard</a>
                            </div>
                        </div>
                        <h1 class="settings__heading title title--h5">
                            Настройки
                        </h1>
                    </div>
                </div>
                <div class="settings__body-wrap container">
                    <div class="settings__body">
                        <div class="settings__content">
                            <form class="form">
                                <h1 class="form__heading title title--h6">
                                    Сменить пароль
                                </h1>
                                <div class="form__fieldset">
                                    <div class="form__row">
                                        <div class="labeled">
                                            <div class="labeled__heading">
                                                <label class="labeled__label" for="current-password">Текущий пароль</label>
                                            </div>
                                            <div class="labeled__field">
                                                <div class="input input--larger input--has-eye">
                                                    <input class="input__widget" type="password" id="current-password">
                                                    <button class="input__toggle-password" type="button">
                                                        <svg class="input__eye" width="24" height="24">
                                                            <use xlink:href="../symbols/symbols.svg?1722507489#eye"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="hint">
                                                    <a class="link link--classic link--black" href="#">Не помню пароль</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                        <div class="labeled">
                                            <div class="labeled__heading">
                                                <label class="labeled__label" for="new-password">Новый пароль</label>
                                            </div>
                                            <div class="labeled__field">
                                                <div class="input input--larger input--has-eye">
                                                    <input class="input__widget" type="password" id="new-password">
                                                    <button class="input__toggle-password" type="button">
                                                        <svg class="input__eye" width="24" height="24">
                                                            <use xlink:href="../symbols/symbols.svg?1722507489#eye"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="form__submit button button--larger" type="button">
                                    Сменить пароль
                                </button>
                            </form>
                        </div>
                        <div class="settings__sidebar">
                            <div class="settings__nav accordion accordion--vertical">
                                <button class="accordion__handler" type="button">
                                    Пароль
                                </button>
                                <nav class="accordion__list">
                                    <a class="accordion__link" href="settings-1-data.html">Персональные данные</a>
                                    <a class="accordion__link" href="settings-2-goals.html">Мои цели</a>
                                    <a class="accordion__link" href="settings-3-reports.html">Отчеты</a>
                                    <a class="accordion__link" href="settings-4-notifications.html">Уведомления</a>
                                    <a class="accordion__link accordion__link--current" href="settings-5-password.html">Пароль</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js?1722507489"></script>
        <script src="../scripts/_mfp.js?1722507489"></script>
        <script src="../scripts/_scrollbar.js?1722507489"></script>
        <script src="../scripts/_room.js?1722507489"></script>
        <script src="../scripts/_mobile-collapse.js?1722507489"></script>
        <script src="../scripts/_accordion.js?1722507489"></script>
        <script src="../scripts/_schedule.js?1722507489"></script>
        <script src="../scripts/_dropdown.js?1722507489"></script>
        <script src="../scripts/_header.js?1722507489"></script>
        <script src="../scripts/_progress.js?1722507489"></script>
        <script src="../scripts/_task.js?1722507489"></script>
        <script src="../scripts/_test.js?1722507489"></script>
        <script src="../scripts/_recommendations.js?1722507489"></script>

    </body>
</html>



