<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Тест</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1655731398">
    </head>
    <body>

        <!--[if IE]>
        <div class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
            Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
        </div>
        <![endif]-->

        <header class="header">

        </header>


        <div class="assignment">
            <div class="assignment__head">
                <a class="assignment__breadcrumbs next" href="test-1-list.html">
                    Все тесты
                </a>
                <h1 class="assignment__heading title title--h5">
                    Полный ЕГЭ №2 с проверкой
                </h1>
            </div>
            <div class="assignment__body">
                <div class="assignment__author">
                    <a class="assignment__avatar avatar avatar--clickable">
                        <img class="avatar__image"
                             srcset="../temp/person-f-48x48@2x.jpg 2x"
                             src="../temp/person-f-48x48.jpg"
                             width="48"
                             height="48"
                             alt="Tim Cook"
                        >
                    </a>
                    <div class="assignment__name">
                        <a class="link link--text-alike" href="#">Марина Кирилловна</a>
                    </div>
                </div>
                <div class="assignment__question task">
                    <div class="task__question">
                        <div class="task__problem">
                            <div class="wysiwyg">
                                <p>Это полный тест ЕГЭ. Назначение этого варианта заключается в том, чтобы дать возможность тебе составить представление о структуре будущих КИМ, количестве заданий, об их форме и уровне сложности.  Тест состоит из двух частей. Часть 1 содержит 8 заданий с кратким ответом базового уровня 1 сложности. Часть 2 содержит 4 задания с кратким ответом повышенного уровня сложности и 7 заданий с развёрнутым ответом повышенного и высокого уровней сложности.</p>
                            </div>
                        </div>
                    </div>
                    <div class="task__question">
                        <div class="task__problem">
                            <b class="task__intro-note">Важно знать:</b>
                            <div class="wysiwyg">
                                <ul>
                                    <li>У тебя не будет возможности проверить, правильно ли ты ответил или нет, пока не завершишь весь тест целиком.</li>
                                    <li>В 1 части – 20 заданий</li>
                                    <li>В 2 части – 17 заданий</li>
                                    <li>Ты сможешь завершить тест после 1 части. Все результаты сохранятся. Ко второй части сможешь приступить в любое время.</li>
                                    <li>Тест будет отправлен на проверку только тогда,  когда ты сделаешь все 2 части теста.</li>
                                    <li>У тебя будет 3 часа 30 минут, чтобы решить весь тест.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="task__footer task__footer--center">
                        <a class="task__next button" href="test-3-question.html">
                            Начать тест
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/jquery-scrollbar/jquery.scrollbar.min.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_global.js?1655731398"></script>
        <script src="../scripts/_mfp.js?1655731398"></script>
        <script src="../scripts/_scrollbar.js?1655731398"></script>
        <script src="../scripts/_room.js?1655731398"></script>
        <script src="../scripts/_mobile-collapse.js?1655731398"></script>
        <script src="../scripts/_accordion.js?1655731398"></script>
        <script src="../scripts/_schedule.js?1655731398"></script>
        <script src="../scripts/_progress.js?1655731398"></script>
        <script src="../scripts/_task.js?1655731398"></script>
        <script src="../scripts/_test.js?1655731398"></script>
        <script src="../scripts/_recommendations.js?1655731398"></script>

    </body>
</html>



